<meta charset="UTF-8">
<title>Login</title>
<link rel='stylesheet prefetch' type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet prefetch" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Joti+One|Kaushan+Script|Lobster|Lobster+Two|Macondo|Permanent+Marker|Satisfy" rel="stylesheet">
