<section class="headline"><!-- Begin Headline -->
    <div class="row header container-fluid">
        <div class="col-md-8">
            <div class="banner-text">Adopets Web<br/><span class="banner-small-text">A comprehensive Pet Adoption Management System</span></div>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <img style="margin-bottom: 15px;" src="/images/banner.svg" alt="banner" />
        </div>
    </div>
</section><!-- End Headline -->