<section class="headline"><!-- Begin Headline -->
    <div class="row header container-fluid">
        <div class="col-md-8">
            <div class="banner-text">Adopets Web<br/><span class="banner-small-text">A comprehensive Pet Adoption Management System</span></div>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <img style="margin-bottom: 15px;" src="/images/banner.svg" alt="banner" />
        </div>
        <!-- Slider Carousel
        ================================================== -->
        <!--<div class="col-md-3">
            <div class="flexslider">
                <ul class="slides">
                <li><img src="/images/slider1.jpg"/></li>
                <li><img src="/images/slider2.jpg"/></li>
                </ul>
            </div>
        </div>-->
        
        <!-- Headline Text
        ================================================== -->
        <!--<div class="span4">
            <h3>Welcome to Adopets</h3>
            <p>description1</p>
            <p>description2</p>
        </div>-->
    </div>
</section><!-- End Headline -->
