<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel='stylesheet prefetch' type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet prefetch" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
