<section class="headline"><!-- Begin Headline -->
    <div class="row header">
        <div class="span8" style="color:white">
            <div style="font-family: 'Kaushan Script', cursive; font-size:6.0vw">Adopets Web</div>
        </div>
        <div class="span4">
            <img src="/images/banner.svg" alt="banner" />
        </div>
        <!-- Slider Carousel
        ================================================== -->
        <!--<div class="span7">
            <div class="flexslider">
                <ul class="slides">
                <li><img src="/images/slider1.jpg"/></li>
                <li><img src="/images/slider2.jpg"/></li>
                </ul>
            </div>
        </div>-->
        
        <!-- Headline Text
        ================================================== -->
        <!--<div class="span4">
            <h3>Welcome to Adopets</h3>
            <p>description1</p>
            <p>description2</p>
        </div>-->
    </div>
</section><!-- End Headline -->