<section class="locationline"><!-- Begin Headline -->
    <div class="row">
        <!-- Slider Carousel
        ================================================== -->
        <div class="span10">
            <p>current location</p>
        </div>
    </div>
</section><!-- End Headline -->