<div class="row headline"><!-- Begin Headline -->
    <!-- Slider Carousel
    ================================================== -->
    <div class="span8">
        <div class="flexslider">
            <ul class="slides">
            <li><img src="/images/slider-img-1.jpg"/></li>
            <li><img src="/images/slider-img-2.jpg"/></li>
            <li><img src="/images/slider-img-3.jpg"/></li>
            <li><img src="/images/slider-img-4.jpg"/></li>
            <li><img src="/images/slider-img-5.jpg"/></li>
            </ul>
        </div>
    </div>
    
    <!-- Headline Text
    ================================================== -->
    <div class="span4">
        <h3>Welcome to Adopets</h3>
        <p>description1</p>
        <p>description2</p>
    </div>
</div><!-- End Headline -->