.navbar-nav>.displayT{
    display:block;
}

.navbar-nav>.displayF{
    display:none;
}

nav{
    background-color: #3097D1;
}

.form-label-group{
    margin-top:20px;
    margin-bottom: 20px;
}

.modal .signIn-model-dialog {
    max-width: 400px;
}

.form-signin{
    padding-left: 40px;
    padding-right: 40px;
}