.navbar-nav>.displayT{
    display:block;
}

.navbar-nav>.displayF{
    display:none;
}

nav{
    background-color: #3097D1;
}

.form-label-group{
    margin-top:20px;
    margin-bottom: 20px;
}

.modal .md-model-dialog {
    max-width: 400px !important;
}

.form-signin,.form-signup{
    padding-left: 40px;
    padding-right: 40px;
}

.nav-item>.nav-link>.fas{
    vertical-align: -webkit-baseline-middle;
}