.wrapper {
    padding: 5px;
    margin: 20px 50px;
    background-color: #33b5e5;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 75px;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    position: relative;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.534);
    overflow: auto;
    padding: 2px;
    background-image: url("/images/adopets.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}
.items {
    height: 30px;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 70%;
    height: 75px;
    max-height: 75px;
    float:left;
}
#sendBtn {
    width: 25%;
    height: 75px;
    float: right;
}
#emojiWrapper {
    display: none;
    width: 300px;
    height: 300px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
    overflow-y: scroll;
    overflow-x: hidden;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 50px;
    height: 50px;
}
#emojiWrapper img:hover {
    background-color: #33b5e5;
}
.emoji{
    display: inline;
}
footer {
    text-align: center;
}

#emoji, #clearBtn, #colorStyle {
    height: 25px;
    width: 70px;
    margin-right: 20px;
    padding: 0;
}