@media (min-width: 1200px){
  .container-fluid .row {
    margin-left: -15px;
  }
}

@media (max-width: 979px) and (min-width: 768px){
  .container-fluid .row {
      margin-left: -15px;
  }
}

@media (max-width: 767px){
  .container-fluid .row {
      margin-left: -15px;
  }
}

.category div{
  margin-top:5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.category div{
  color: gray;
}

.category div:hover{
  color: royalblue;
}

.category .active{
  color: royalblue;
  font-weight: bold;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

#post-date{
  text-align:right;
}

.list-group-flush .post-content{
  border-bottom: 5px solid rgba(128,128,128,.1);
}

.post-content-top, .post-content-bottom{
  color: gray;
}
.list-group-flush .post-title{
  border-bottom: 1px solid darkblue;
}

.margin-top-30{
  margin-top:30px;
}

.post-area{
  background-color: rgba(128,128,128,.1);
  padding-left: 0;
  padding-right: 0;
}