.input-group input{
    border-right:none;
}

.input-group .input-group-addon{
    background-color: white;
} 

.input-group .glyphicon{
    font-size: 110%;
    margin-right: 4px;
    margin-left: 4px;
    color: gray;
    font-weight: bold;
}

.input-group .glyphicon:hover{
    color: dodgerblue;
}

.searchBox .nav-tabs{
    border-bottom: 0px;
}

.searchBox .tab-content{
    border:1px solid lightblue;
}

.searchBox .tab-content .tab-pane{
    margin:20px;
} 