.input-group input{
    border-right:none;
}

.input-group .input-group-addon{
    background-color: white;
} 

.input-group .glyphicon{
    font-size: 110%;
    margin-right: 4px;
    margin-left: 4px;
    color: gray;
}

.input-group .glyphicon:hover{
    color: dodgerblue;
}

.searchBox .nav-tabs{
    border-bottom: 0px;
}

.searchBox .tab-content{
    border:2px solid lightblue;
    border-radius: 0px 0px 5px 5px;
    background-color: powderblue;
}

.searchBox .tab-content .tab-pane{
    margin:20px;
} 

.searchBox .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 2px solid lightblue;
    border-bottom-color: transparent;
    background-color: powderblue;
}