.input-group input{
    border-right:none;
    background-color: #f0f4f5;
}

.input-group .input-group-addon{
    background-color: #f0f4f5;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
} 

.input-group .fas{
    font-size: 110%;
    margin-right: 4px;
    margin-left: 4px;
    color: gray;
}

.input-group .fas:hover{
    color: dodgerblue;
}

.searchBox .nav-tabs{
    border-bottom: 0px;
}

.searchBox .tab-content{
    border:2px solid lightblue;
    border-radius: 0px 0px 5px 5px;
}

.searchBox .tab-content .tab-pane{
    margin:25px;
} 

.searchBox .nav-tabs>li>a.active {
    border: 2px solid lightblue;
    border-bottom-color: transparent;
    font-weight: bold;
    color: cornflowerblue;
}

.searchBox>.tab-content>.tab-pane>.row{
    margin-left:-15px;
}

.searchBox>.tab-content>.tab-pane>.row{
    text-align: center;
}

.searchBox>.tab-content>.tab-pane>.row>.col-md-6,.searchBox>.tab-content>.tab-pane>.row>.col-md-4,.searchBox>.tab-content>.tab-pane>.row:last-child{
    padding-right: 5px;
    padding-left:5px;
}

.searchBox>.tab-content>.tab-pane>.row>button{
    width:100%;
}

.searchBox>.tab-content>.tab-pane>.row .btn-group>.btn-default{
    color:#555;
}

.dropdown-menu{
  	width:100%;
}

.flex-caption {
    width: 100%;
    padding: 3%;
    left: 0;
    bottom: 0;
    background: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 20px;
  	padding-top: 8px;
}

.btn-default{
 	 margin-bottom:10px;
}

.flex-caption .captionName{
 	font-size:18px;
  	font-weight:bold;
}

.flex-caption .captionDescription{
 	font-size:13px;
  	color:#444343;
}

.flex-caption .captionBreeds{
 	font-size:13px;
  	color:#777;
    font-style: italic;
}

.flexslider .slides >li{
	border: 1px solid darkgray;
    padding: 5px;
    border-radius: 5px;
}

.container-fluid .searchBox, .container-fluid .innerBox{
	margin-top:20px;
}

.lineOnSlide {
    border-collapse: separate;
    border-spacing: 16px 0;
    color: #475a7b;
    display: table;
    font-family: 'Amaranth', sans-serif;
    font-size: 22px;
    line-height: .25;
    margin: 1em 0 .5em;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 20px;
}

.lineOnSlide:before,.lineOnSlide:after{
	border-top: 3px solid #e0dede;
  	content: '';
  	display: table-cell;
  	width: 38%;
}

.multiselect-container li a{
    color:#3c3b3b;
}

.directButton>div{
    width:100%;
    padding-top: 15px;
    text-align: center;
}

.directButton>div>div>div{
    width:34%;
}

.directButton>div>div{
    margin:5px;
}


.directButton button{
    width:95%;
    margin-top: 8px;
    border-radius: 2px;
}

.container-fluid .newArrival{
    margin:30px;
}

.container-fluid .newArrival .card-deck .card{
    margin-top:35px;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.container-fluid .newArrival .card-deck .card img{
padding: 8px;
padding-bottom: 0;
}

.missionSection .fa-searchengin{
    color: gold;
}

.missionSection .fa-shopping-cart{
    color: greenyellow;
}

.missionSection .fa-comments{
    color: chocolate;
}

.missionSection .fa-language{
    color: cornflowerblue;
}

.missionSection .fa-searchengin:hover{
    color: #ffd7008a;
}

.missionSection .fa-shopping-cart:hover{
    color: #adff2fa3;
}

.missionSection .fa-comments:hover{
    color: #d2691e82;
}

.missionSection .fa-language:hover{
    color: #6495ed78;
}

.slides .overlay{
    display: block;
    content: " ";
    top: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(/images/view.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    z-index: 1;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.slides li:hover img,.slides li:hover .flex-caption{
    opacity:0.5;
}

@media (min-width: 576px){
    .modal .modal-dialog {
        max-width: 700px;
    }
}

@media (min-width: 992px){
    .modal .modal-lg {
        max-width: 1000px;
    }
}


#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
