/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 450px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 115px;
  height: 34px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  font-weight:bold;
}

.form-module .toggle:hover{
  text-decoration: underline;
}

.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(3) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
/*
.form-module input[type="text"], .form-module input[type="password"], .form-module input[type="datetime"], .form-module input[type="datetime-local"], .form-module input[type="date"],.form-module input[type="month"], .form-module input[type="time"], .form-module input[type="week"],.form-module input[type="number"], .form-module input[type="email"], .form-module input[type="url"], .form-module input[type="search"], .form-module input[type="tel"], .form-module input[type="color"] {
*/

.form-module input:not(#birthdate), .form-module input:not(#register_image) {
  outline: none;
  display: block;
  width: 89%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  height: 35px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module input:focus {
  border: 1px solid #33b5e5 !important;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}

.form-module input.error {
  border: 3px solid red !important;
  background-color: #f78b8b;
}

.form-module div.error {
  color: #e2322f;
  margin: -15px 0px 30px 0px;
  padding-left: 30px;
  background-image: url("/images/login-error-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat; 
  background-size: 8%;
}

.form-module input#birthdate {
  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  height: 35px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*
.form-module div.error {
  color: #f33;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 0.7em;
  padding-left: 18px;
  background-image: url('error.png');
  background-position: 0 0;
  background-repeat: no-repeat; 
}
*/

.form-module div.input-group-addon {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 20px;
}

#user_image_preview {
  max-width: 100px;
  max-height: 100px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.form-module input#register_image {
  outline: none;
  display: block;
  width: 89%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 5px 15px;
  height: 35px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}