body{font-family:'Open Sans',serif;color:#868e96}
h1,h2,h3,h4,h5,h6{
    font-family:'Saira Extra Condensed',serif;
    font-weight:700;
    text-transform:uppercase;color:#343a40
}
h1{font-size:6rem;line-height:5.5rem}
h2{font-size:3.5rem}
.subheading{text-transform:uppercase;font-weight:500;font-family:'Saira Extra Condensed',serif;font-size:1.35rem}
.list-social-icons a{color:#495057}
.list-social-icons a:hover{color:#bd5d38}
.list-social-icons a .fa-lg{font-size:1.75rem}
.list-icons{font-size:3rem}
.list-icons .list-inline-item i:hover{color:#bd5d38}
#sideNav .navbar-nav .nav-item .nav-link{font-weight:600;text-transform:uppercase}
@media (min-width:992px){
    #sideNav{text-align:center;position:fixed;left:0;display:flex;flex-direction:column;width:17rem;height:100vh}
    #sideNav .navbar-brand{display:flex;margin:auto auto 0;padding:.5rem}
    #sideNav .navbar-brand .img-profile{max-width:10rem;max-height:10rem;border:.5rem solid rgba(255,255,255,.2)}
    #sideNav .navbar-collapse{display:flex;align-items:flex-start;flex-grow:0;width:100%;margin-bottom:auto}
    #sideNav .navbar-collapse .navbar-nav{flex-direction:column;width:100%}
    #sideNav .navbar-collapse .navbar-nav .nav-item{display:block}
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{display:block}
}
section.resume-section{border-bottom:1px solid #dee2e6;padding-top:5rem!important;padding-bottom:5rem!important}
section.resume-section .resume-item .resume-date{min-width:none}
@media (min-width:768px){section.resume-section{min-height:100vh}
section.resume-section .resume-item .resume-date{min-width:18rem}}
@media (min-width:992px){section.resume-section{padding-top:3rem!important;padding-bottom:3rem!important}}
.bg-primary{background-color:#bd5d38!important}.text-primary{color:#bd5d38!important}
.my-auto{
    width:100%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #d3d3d35e;
}
#pet_image img {
    max-height: 235px;
}
#pet_image {
    margin: 0 auto;
    height: 235px;
    object-fit: cover;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.fa-trash-alt{
    position: absolute;
    right: 0;
    font-size: 200%;
    bottom: 0;
    margin: 20px;
}

.cus-active{
    background-color:#d3d3d35e;
}

@media (min-width: 576px){
    .modal .modal-dialog {
        max-width: 700px;
    }
}

@media (min-width: 992px){
    .modal .modal-lg {
        max-width: 1000px;
    }
}

.overlay {
    display: block;
    content: " ";
    top: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(/images/view.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    z-index: 1;
    transition: all 0.3s ease-out;
    cursor: pointer;
}