<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/pages/chat.css"/>

<div class="container-fluid">
    <!--Your own content-->
    <div class="wrapper">
        <div class="banner">
            <h3>Chatroom :)</h3>
            <span id="status"></span>
        </div>
        <div id="historyMsg">
        </div>
        <div class="controls" >
            <div class="items">
                <input id="colorStyle" class="btn btn-default" type="color" placeHolder='#000' title="font color" />
                <input id="emoji" class="btn btn-primary" type="button" value="emoji" title="emoji" />
                <input id="clearBtn" class="btn btn-danger" type="button" value="clear" title="clear screen" />
            </div>
            <textarea id="messageInput" placeHolder="enter to send"></textarea>
            <input id="sendBtn" class="btn btn-success" type="button" value="SEND">
            <div id="emojiWrapper">
            </div>
        </div>
    </div>
    <div id="loginWrapper">
        <p id="info">connecting to server...</p>
        <div id="nickWrapper">
            <input type="text" placeHolder="Nickname" id="nicknameInput" />
            <input type="button" class="btn btn-success" value="Enter" id="loginBtn" />
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/chat.js"></script>
<script>
    $(document).ready(function() {
        $("#navbarToggler .nav-item").removeClass("active");
        $("#navbarToggler .dropdown-menu .dropdown-item").removeClass("base-cut-active");
        $("#navbarToggler #base-chatroom").addClass("active");
    });
</script>



