<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/pages/dm.css"/>
<div class="green-background"></div>
<div class="wrap">
        <section class="left">
                <div class="profile">
                        <span><%= loginUser %></span>
                        <div class="icons">
                                <i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                        </div>
                </div>
                <div class="contact-list">
                        <div class='contact' id='id'><img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/user.jpg' alt='profilpicture'><div class='contact-preview'><div class='contact-text'><h1 class='font-name'>username</h1></div></div></div>
                        <div class='contact new-message-contact' id='id'><img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/user.jpg' alt='profilpicture'><div class='contact-preview'><div class='contact-text'><h1 class='font-name'>username</h1></div></div></div>
                </div>
        </section>

        <section class="right">
                <div class="chat-head">
                        <div class="chat-name">
                            <h1 class="font-name" style="padding-left:20px;">Username</h1>
                        </div>
                </div>
                <div class="wrap-chat">
                        <div class="chat">
                            <div class='chat-bubble me'><div class='content'>text</div></div>
                            <div class='chat-bubble me'></div><div class='content'>text</div></div>
                            <div class='chat-bubble you'></div><div class='content'>text</div></div>
                        </div>
                </div>
                <div class="wrap-message">
                        <div class="message">
                                <input type="text" class="input-message" placeholder="Type Message...">
                        </div>
                        <i class="fa fa-microphone fa-lg" aria-hidden="true"></i>
                </div>
        </section>
</div>
