<link rel="stylesheet" type="text/css" href="/stylesheets/pages/chat.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/smalltalk.min.css"/>

<div class="container-fluid">
    <!--Your own content-->
    <div id="app" class="app">
        <div id="linkman" class="linkman">
            <div class="main">
                <div class="header"> <input type="search" name=""> <i id="btn-add">+</i> </div>
                <div class="body">
                    <ul id="session"></ul>
                </div>
            </div>
        </div>
        <div id="chat"> </div>
    </div>
    <audio id="ding" src="/images/ding.mp3">不支持 audio 标签</audio>
</div>