<link rel="stylesheet" type="text/css" href="/stylesheets/pages/forum.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid" style="margin-top:0; margin-bottom:0">
    <div class="row">
        <div id="list-forum-select" class="col-md-4 order-md-1 view-active" style="border-right: 1px solid lightgray;">
            <div id="scrollbar" style="overflow-y: auto;height: 91vh;">
                <ul id="list-contact-user" class="list-group list-group-flush mb-3">
                </ul>
            </div>
        </div>
        <div id="list-contact-content" class="col-md-8 order-md-2 post-area view-unactive">
            <div style="text-align: center;margin: 10%;">
                <img src="/images/adopets.png" width="auto" height="auto" class="d-inline-block align-top" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "/listChatPerson",
            type: "GET",
            data: {
            },
            success: function (mes) {
                $.ajax({
                    url: "/getlogined",
                    type: "GET",
                    data: {
                    },
                    success: function (result) {
                        for(var i=0;i<mes.length;i++){
                            if (result.loginUser!=mes[i].receiverid){
                                $("#list-contact-user").append("\
                                <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed' style='cursor:pointer;' onclick='listChatContent("+mes[i].receiverid+",this)'>\
                                <div>\
                                <span class='fas fa-user'></span>\
                                <span>"+mes[i].receiverid+"</span>\
                                </div>\
                                </li>")
                            }
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function spinner(){
        $("#list-forum-content").html("\
        <div class='sk-fading-circle'>\
        <div class='sk-circle1 sk-circle'></div>\
        <div class='sk-circle2 sk-circle'></div>\
        <div class='sk-circle3 sk-circle></div>\
        <div class='sk-circle4 sk-circle'></div>\
        <div class='sk-circle5 sk-circle'></div>\
        <div class='sk-circle6 sk-circle'></div>\
        <div class='sk-circle7 sk-circle'></div>\
        <div class='sk-circle8 sk-circle'></div>\
        <div class='sk-circle9 sk-circle'></div>\
        <div class='sk-circle10 sk-circle'></div>\
        <div class='sk-circle11 sk-circle'></div>\
        <div class='sk-circle12 sk-circle'></div>\
        </div>");
    }


    function listPostContent(topic,title,object){
        $("#list-forum-topic>li").removeClass("content-active");
        $("#list-forum-select").toggleClass("view-active view-unactive");
        $("#list-forum-content").toggleClass("view-active view-unactive");
        $(object).addClass("content-active");
        spinner();
        $.ajax({
            url: "/listPostContent",
            type: "GET",
            data: {
                topic:"('"+topic+"')"
            },
            success: function (mes) {
                $("#list-forum-content").html("");
                $("#list-forum-content").append("\
                    <div class='list-group list-group-flush'>\
                        <div class='list-group-item flex-column align-items-start post-title'>\
                            <div class='d-flex w-100 justify-content-between post-content-top'>\
                            <button type='button' class='fas fa-arrow-left return-button' style='border:none;background:none;color:grey;' onclick='toggle()'></button>\
                            <h6 class='my-1'>"+title+"</h6>\
                            <button type='button' class='btn btn-outline-primary btn-sm' data-toggle='modal' data-target='#newReply' data-title='"+title+"'data-replyId='"+topic+"'>Reply</button>\
                            </div>\
                        </div>\
                    </div>\
                    <div class='list-group list-group-flush scrollbar' id='list-forum-reply' style='height:80vh; overflow-y:auto;'>\
                        <div class='margin-top-30'></div>\
                    </div>");
                    $("#list-forum-content").promise().done(function() {
                        for(var i=0;i<mes.length;i++){
                            if (mes[i].replyprev==false){
                                $("#list-forum-reply").append("\
                                    <div class='list-group-item flex-column align-items-start post-content'>\
                                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                                    <small class='mb-1'>"+mes[i].postby+"</small>\
                                    <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+title+"'data-replyId='"+topic+"' data-replyPrevId='"+mes[i].postid+"'></button>\
                                    </div>\
                                    <div class='mb-1 mt-2 post-main-content'>"+mes[i].content+"</div>\
                                    <div id='post-date' class='post-content-bottom'><small>"+mes[i].postdate+"</small></div>\
                                    </div>")
                            }
                            else{
                                $("#list-forum-reply").append("\
                                    <div class='list-group-item flex-column align-items-start post-content'>\
                                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                                    <small class='mb-1'>"+mes[i].postby+"</small>\
                                    <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+title+"'data-replyId='"+topic+"' data-replyPrevId='"+mes[i].postid+"'></button>\
                                    </div>\
                                    <div style='padding: 8px;margin-top: 15px;margin-bottom: 15px;border-left: 2px solid lightgray; color:  gray;'>"+mes[i].replyprecontent+"</div>\
                                    <div class='mb-1 mt-2 post-main-content'>"+mes[i].content+"</div>\
                                    <div id='post-date' class='post-content-bottom'><small>"+mes[i].postdate+"</small></div>\
                                    </div>")
                            }
                        }
                    });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>

