<link rel="stylesheet" type="text/css" href="/stylesheets/pages/forum.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid" style="margin-top:0; margin-bottom:0">
<div class="row">
    <div class="col-md-4 order-md-1" style="border-right: 1px solid lightgray;">
        <div class="p-2" style="border-bottom: 1px solid lightgray;">
            <div class="mb-2" style="display:table; width:100%">
                <div style="display:table-row; width:100%">
                    <h6 class="card p-2 justify-content-between align-items-center" style="display:table-cell; text-align:center;width:80%">
                            <span style="color: darkcyan;">Forum</span>
                    </h6>
                    <span class="tooltip-cust" style="display:table-cell;width:20%; text-align:right;">
                        <button type="button" class="btn btn-light fas fa-plus" data-toggle="modal" data-target="#newForumPost"></button>
                        <span class="tooltiptext">Create Post</span>
                    </span>
                </div>
            </div>
            <div class="row category" style="text-align:center">
                <div class="col-sm-2 col-md-4 active" onclick="listPostTitle('General',this)">General</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Health',this)">Health</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Training',this)">Training</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Behavior',this)">Behavior</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Grooming',this)">Grooming</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Toy',this)">Toy</div>
            </div>
        </div>
        <div id="scrollbar" style="overflow-y: auto;height: 70vh;">
            <ul id="list-forum-topic" class="list-group list-group-flush mb-3">
            </ul>
        </div>
    </div>
    <div id="list-forum-content" class="col-md-8 order-md-2 post-area">
        <div class="list-group list-group-flush">
            <div class="list-group-item flex-column align-items-start post-title">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <h6 class="my-1">Title</h6>
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#newReply">Reply</button>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush" id="scrollbar" style="height:80vh; overflow-y:auto;">
            <div class="margin-top-30"></div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
            <div class="list-group-item flex-column align-items-start post-content">
                <div class="d-flex w-100 justify-content-between post-content-top">
                <small class="mb-1">username</small>
                <span class="fas fa-reply" style="cursor:pointer" data-toggle="modal" data-target="#newReplyPrev"></span>
                </div>
                <p class="mb-1 mt-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div id="post-date" class="post-content-bottom"><small>2018-04-07 16:26</small></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newForumPost" tabindex="-1" role="dialog" aria-labelledby="newForumPostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newForumPostLabel">Create New Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="form-post" novalidate>
                <div class="row">
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" id="post-title" placeholder="Title" required>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" id="post-category">
                            <option selected>General</option>
                            <option>Health</option>
                            <option>Training</option>
                            <option>Behavior</option>
                            <option>Grooming</option>
                            <option>Toy</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="post-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="submitPost()">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newReply" tabindex="-1" role="dialog" aria-labelledby="newReplyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newReplyLabel">Reply: Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="form-reply" novalidate>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="reply-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" class="btn btn-primary" oclick="submitReply(this)">Reply</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newReplyPrev" tabindex="-1" role="dialog" aria-labelledby="newReplyPrevLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newReplyPrevLabel">Reply: Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="preContent">
            </div>
            <form id="form-replyPrev" novalidate>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="replyPrev-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "/listPostTitle",
            type: "GET",
            data: {
                category:"('General')"
            },
            success: function (mes) {
                $("#list-forum-topic").html("");
                for(var i=0;i<mes.length;i++){
                    $("#list-forum-topic").append("\
                    <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed' style='cursor:pointer;' onclick='listPostContent("+mes[i].topicid+",\""+mes[i].subject+"\",this)'>\
                    <div>\
                    <h5 class='my-0'>"+mes[i].subject+"</h5>\
                    <small class='text-muted'>"+mes[i].postby+"</small>\
                    </div>\
                    <small class='text-muted'>Replies: <span class'replyNum'>"+mes[i].replynum+"</span></small>\
                    </li>")
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#newReply').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var data_title= button.data('title');
        var data_replyId= button.data('replyId'); 
        var modal = $(this);
        modal.find('.modal-title').text('Reply: ' + data_title);
        modal.find('.modal-body').attr("data-replyId", data_replyId);
    })

    $('#newReplyPrev').on('show.bs.modal', function (event) {
        console.log($(event.relatedTarget).parents(".post-content"));
        var button = $(event.relatedTarget);
        var data_title= button.data('title'); 
        var data_replyId= button.data('replyId'); 
        var data_replyPrevId= button.data('replyPrevId'); 
        var modal = $(this);
        modal.find('.modal-title').text('Reply: ' + data_title);
        modal.find('.modal-body .preContent').html("");
        modal.find('.modal-body .preContent').append($(event.relatedTarget).parents(".post-content").clone());
        modal.find('.modal-body').attr({"data-replyId":data_replyId,"data-replyPrevId":data_replyPrevId});
    })

    function submitPost(){
        var form = $("#form-post");

        if (form[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        else if (form[0].checkValidity() === true){
            $.ajax({
                url: "/addNewPost",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    subject:$("#post-title").val(),
                    category:$("#post-category").val(),
                    postby:"yy0234",
                    replynum:0,
                    content:$("#post-content").val(),
                    replyprev:false
                }),
                complete: function complete() {
                },
                error: function error(err) {
                    alert(err);
                    console.log(err);
                },
                success: function (mes) {
                    console.log(mes);
                }
            });
            event.preventDefault();
        }
        form.addClass('was-validated');
    }

    function submitReply(event){
        var form = $("#form-reply");
        var button = $(event.relatedTarget);
        var data_replyId= button.data('replyId'); 


        if (form[0].checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
        }
        else if (form[0].checkValidity() === true){
            $.ajax({
                url: "/addNewReply",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    topic:data_replyId,
                    postby:"yy0234",
                    content:$("#reply-content").val(),
                    replyprev:false
                }),
                complete: function complete() {
                },
                error: function error(err) {
                    alert(err);
                    console.log(err);
                },
                success: function (mes) {
                    console.log(mes);
                }
            });
            event.preventDefault();
        }
        form.addClass('was-validated');
    }

    function listPostTitle(category,object){
        $(".category div").removeClass("active");
        $(object).addClass("active");
        $.ajax({
            url: "/listPostTitle",
            type: "GET",
            data: {
                category:"('"+category+"')"
            },
            success: function (mes) {
                $("#list-forum-topic").html("");
                for(var i=0;i<mes.length;i++){
                    $("#list-forum-topic").append("\
                    <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed' style='cursor:pointer;' onclick='listPostContent("+mes[i].topicid+",\""+mes[i].subject+"\",this)'>\
                    <div>\
                    <h5 class='my-0'>"+mes[i].subject+"</h5>\
                    <small class='text-muted'>"+mes[i].postby+"</small>\
                    </div>\
                    <small class='text-muted'>Replies: <span class'replyNum'>"+mes[i].replynum+"</span></small>\
                    </li>")
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function listPostContent(topic,title,object){
        $("#list-forum-topic>li").removeClass("content-active");
        $(object).addClass("content-active");
        $.ajax({
            url: "/listPostContent",
            type: "GET",
            data: {
                topic:"('"+topic+"')"
            },
            success: function (mes) {
                $("#list-forum-content").html("");
                $("#list-forum-content").append("\
                    <div class='list-group list-group-flush'>\
                        <div class='list-group-item flex-column align-items-start post-title'>\
                            <div class='d-flex w-100 justify-content-between post-content-top'>\
                            <h6 class='my-1'>"+title+"</h6>\
                            <button type='button' class='btn btn-outline-primary btn-sm' data-toggle='modal' data-target='#newReply' data-title='"+title+"'data-replyId='"+topic+"'>Reply</button>\
                            </div>\
                        </div>\
                    </div>\
                    <div class='list-group list-group-flush scrollbar' id='list-forum-reply' style='height:80vh; overflow-y:auto;'>\
                        <div class='margin-top-30'></div>\
                    </div>");
                    $("#list-forum-content").promise().done(function() {
                        for(var i=0;i<mes.length;i++){
                            $("#list-forum-reply").append("\
                                <div class='list-group-item flex-column align-items-start post-content'>\
                                <div class='d-flex w-100 justify-content-between post-content-top'>\
                                <small class='mb-1'>"+mes[i].postby+"</small>\
                                <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+title+"'data-replyId='"+topic+"' data-replyPrevId='"+mes[i].postid+"'></button>\
                                </div>\
                                <div class='mb-1 mt-2'>"+mes[i].content+"</div>\
                                <div id='post-date' class='post-content-bottom'><small>"+mes[i].postdate+"</small></div>\
                                </div>")
                        }
                    });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>

