<link rel="stylesheet" type="text/css" href="/stylesheets/pages/forum.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid" style="margin-top:0; margin-bottom:0">
<div class="row">
    <div id="list-forum-select" class="col-md-4 order-md-1 view-active" style="border-right: 1px solid lightgray;">
        <div class="p-2" style="border-bottom: 1px solid lightgray;">
            <div class="mb-2" style="display:table; width:100%">
                <div style="display:table-row; width:100%">
                    <span class="tooltip-cust" style="display:table-cell;width:100%;">
                        <button type="button" class="btn btn-outline-info" style="width:100%" onclick="checklogin(function(){$('#newForumPost').modal('show',$(this))})">Create New Post</button>
                    </span>
                </div>
            </div>
            <div class="row category" style="text-align:center">
                <div class="col-sm-2 col-md-4 active" onclick="listPostTitle('General',this)">General</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Health',this)">Health</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Training',this)">Training</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Behavior',this)">Behavior</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Grooming',this)">Grooming</div>
                <div class="col-sm-2 col-md-4" onclick="listPostTitle('Toy',this)">Toy</div>
            </div>
        </div>
        <div id="scrollbar" style="overflow-y: auto;">
            <ul id="list-forum-topic" class="list-group list-group-flush mb-3">
            </ul>
        </div>
    </div>
    <div id="list-forum-content" class="col-md-8 order-md-2 post-area view-unactive">
        <div style="text-align: center;margin: 10%;">
            <img src="/images/adopets.png" width="auto" height="auto" class="d-inline-block align-top" alt="">
        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal fade" id="newReply" tabindex="-1" role="dialog" aria-labelledby="newReplyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newReplyLabel">Reply: Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="form-reply" novalidate>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="reply-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" id="submit-reply" class="btn btn-primary" onclick="submitReply(this)">Reply</button>
                </div>
            </form>
        </div>
        </div>
    </div> 
</div>


<div class="modal fade" id="newForumPost" tabindex="-1" role="dialog" aria-labelledby="newForumPostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newForumPostLabel">Create New Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="form-post" novalidate>
                <div class="row">
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" id="post-title" placeholder="Title" required>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" id="post-category">
                            <option selected>General</option>
                            <option>Health</option>
                            <option>Training</option>
                            <option>Behavior</option>
                            <option>Grooming</option>
                            <option>Toy</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="post-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="submitPost()">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="newReplyPrev" tabindex="-1" role="dialog" aria-labelledby="newReplyPrevLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newReplyPrevLabel">Reply: Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="preContent">
            </div>
            <form id="form-replyPrev" novalidate>
                <div class="form-group mb-4">
                    <textarea placeholder="Content here..." class="form-control" id="replyPrev-content" rows="10" required></textarea>
                </div>
                <div style="display: flex;justify-content: flex-end;padding: 1rem;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: .25rem;">Cancel</button>
                    <button type="submit" id="submit-replyPrev" class="btn btn-primary"  onclick="submitPrevReply(this)">Reply</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $("#navbarToggler .nav-item").removeClass("active");
		$("#navbarToggler .dropdown-menu .dropdown-item").removeClass("base-cut-active");
        $("#navbarToggler #base-forum").addClass("active");
        
        $.ajax({
            url: "/listPostTitle",
            type: "GET",
            data: {
                category:"('General')"
            },
            success: function (mes) {
                $("#list-forum-topic").html("");
                for(var i=0;i<mes.length;i++){
                    $("#list-forum-topic").append("\
                    <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed' style='cursor:pointer;' onclick='listPostContent("+mes[i].topicid+",\""+mes[i].subject+"\",this)'>\
                    <div>\
                    <h5 class='my-0'>"+mes[i].subject+"</h5>\
                    <small class='text-muted'>"+mes[i].postby+"</small>\
                    </div>\
                    <small class='text-muted'>Replies: <span class='replynum'>"+mes[i].replynum+"</span></small>\
                    </li>")
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#newReply').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var data_title= button.data('title');
        var data_replyId= button.data('replyid'); 
        console.log(data_replyId);
        var modal = $(this);
        modal.find('.modal-title').text('Reply: ' + data_title);
        modal.find('.modal-body #submit-reply').attr("data-replyId", data_replyId);
    })

    $('#newReplyPrev').on('show.bs.modal', function (event) {
        console.log($(event.relatedTarget).parents(".post-content"));
        var button = $(event.relatedTarget);
        var data_title= button.data('title'); 
        var data_replyId= button.data('replyid'); 
        var data_replyPrevId= button.data('replyprevid'); 
        console.log(data_replyId);
        console.log(data_replyPrevId);
        var modal = $(this);
        modal.find('.modal-title').text('Reply: ' + data_title);
        modal.find('.modal-body .preContent').html("");
        modal.find('.modal-body .preContent').append($(event.relatedTarget).parents(".post-content").clone());
        modal.find('.modal-body #submit-replyPrev').attr({"data-replyId":data_replyId,"data-replyPrevId":data_replyPrevId});
    })

    function toggle(){
        $("#list-forum-select").toggleClass("view-active view-unactive");
        $("#list-forum-content").toggleClass("view-active view-unactive");
        $("#list-forum-topic>li").removeClass("content-active");
    }

    function spinner(){
        $("#list-forum-content").html("\
        <div class='sk-fading-circle'>\
        <div class='sk-circle1 sk-circle'></div>\
        <div class='sk-circle2 sk-circle'></div>\
        <div class='sk-circle3 sk-circle></div>\
        <div class='sk-circle4 sk-circle'></div>\
        <div class='sk-circle5 sk-circle'></div>\
        <div class='sk-circle6 sk-circle'></div>\
        <div class='sk-circle7 sk-circle'></div>\
        <div class='sk-circle8 sk-circle'></div>\
        <div class='sk-circle9 sk-circle'></div>\
        <div class='sk-circle10 sk-circle'></div>\
        <div class='sk-circle11 sk-circle'></div>\
        <div class='sk-circle12 sk-circle'></div>\
        </div>");
    }

    function submitPost(){
        var form = $("#form-post");
        var current_position=($(".category>.active").html()==$("#post-category").val());

        if (form[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        else if (form[0].checkValidity() === true){
            $.ajax({
                url: "/addNewPost",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    subject:$("#post-title").val(),
                    category:$("#post-category").val(),
                    postby:"yy0234",
                    replynum:0,
                    content:$("#post-content").val(),
                    replyprev:false
                }),
                complete: function complete() {
                },
                error: function error(err) {
                    alert(err);
                    console.log(err);
                },
                success: function (mes) {
                    $('#newForumPost').modal('hide');
                    console.log(mes);
                    $("#list-forum-select").removeClass("view-active");
                    $("#list-forum-select").addClass("view-unactive");
                    $("#list-forum-content").removeClass("view-unactive");
                    $("#list-forum-content").addClass("view-active");
                    $("#list-forum-topic li").removeClass("content-active");
                    if(current_position){
                    $("#list-forum-topic").prepend("\
                        <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed content-active' style='cursor:pointer;' onclick='listPostContent("+mes[0].topicid+",\""+mes[0].subject+"\",this)'>\
                        <div>\
                        <h5 class='my-0'>"+mes[0].subject+"</h5>\
                        <small class='text-muted'>"+mes[0].postby+"</small>\
                        </div>\
                        <small class='text-muted'>Replies: <span class='replynum'>"+mes[0].replynum+"</span></small>\
                        </li>");
                    }
                    $("#form-post").trigger("reset");
                    $.ajax({
                        url: "/listPostContent",
                        type: "GET",
                        data: {
                            topic:"('"+mes[0].topicid+"')"
                        },
                        success: function (res) {
                            $("#list-forum-content").html("");
                            $("#list-forum-content").append("\
                                <div class='list-group list-group-flush'>\
                                    <div class='list-group-item flex-column align-items-start post-title'>\
                                        <div class='d-flex w-100 justify-content-between post-content-top'>\
                                        <button type='button' class='fas fa-arrow-left return-button' style='border:none;background:none;color:grey;' onclick='toggle()'></button>\
                                        <h6 class='my-1'>"+mes[0].subject+"</h6>\
                                        <button type='button' class='btn btn-outline-primary btn-sm' data-toggle='modal' data-target='#newReply' data-title='"+mes[0].subject+"'data-replyId='"+mes[0].topicid+"'>Reply</button>\
                                        </div>\
                                    </div>\
                                </div>\
                                <div class='list-group list-group-flush scrollbar' id='list-forum-reply' style='height:80vh; overflow-y:auto;'>\
                                    <div class='margin-top-30'></div>\
                                </div>");
                                $("#list-forum-content").promise().done(function() {
                                    for(var i=0;i<res.length;i++){
                                        if (res[i].replyprev==false){
                                            $("#list-forum-reply").append("\
                                                <div class='list-group-item flex-column align-items-start post-content'>\
                                                <div class='d-flex w-100 justify-content-between post-content-top'>\
                                                <small class='mb-1'>"+res[i].postby+"</small>\
                                                <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+mes[0].subject+"'data-replyId='"+mes[0].topicid+"' data-replyPrevId='"+res[i].postid+"'></button>\
                                                </div>\
                                                <div class='mb-1 mt-2 post-main-content'>"+res[i].content+"</div>\
                                                <div id='post-date' class='post-content-bottom'><small>"+res[i].postdate+"</small></div>\
                                                </div>")
                                        }
                                        else{
                                            $("#list-forum-reply").append("\
                                                <div class='list-group-item flex-column align-items-start post-content'>\
                                                <div class='d-flex w-100 justify-content-between post-content-top'>\
                                                <small class='mb-1'>"+res[i].postby+"</small>\
                                                <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+mes[0].subject+"'data-replyId='"+mes[0].topicid+"' data-replyPrevId='"+res[i].postid+"'></button>\
                                                </div>\
                                                <div style='padding: 8px;margin-top: 15px;margin-bottom: 15px;border-left: 2px solid lightgray; color:  gray;'>"+res[i].replyprecontent+"</div>\
                                                <div class='mb-1 mt-2 post-main-content'>"+res[i].content+"</div>\
                                                <div id='post-date' class='post-content-bottom'><small>"+res[i].postdate+"</small></div>\
                                                </div>")
                                        }
                                    }
                                });
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            });
            event.preventDefault();
        }
        //form.addClass('was-validated');
    }

    function submitReply(pointer){
        var form = $("#form-reply");
        var button = $(pointer);
        var data_replyId= button.data('replyid'); 
        var data_title= button.data('title'); 
        var reply_num=parseInt($(".content-active .replynum").html());
        console.log(button);
        console.log(data_replyId);


        if (form[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        else if (form[0].checkValidity() === true){
            $.ajax({
                url: "/addNewReply",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    topic:data_replyId,
                    postby:"yy0234",
                    content:$("#reply-content").val(),
                    replyprev:false,
                    replyprevid:null,
                    replyprecontent:null
                }),
                complete: function complete() {
                },
                error: function error(err) {
                    alert(err);
                    console.log(err);
                },
                success: function (mes) {
                    $('#newReply').modal('hide');
                    console.log(mes);
                    $("#list-forum-reply").append("\
                    <div class='list-group-item flex-column align-items-start post-content'>\
                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                    <small class='mb-1'>"+"yy0234"+"</small>\
                    <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+data_title+"'data-replyId='"+data_replyId+"' data-replyPrevId='"+mes[0].postid+"'></button>\
                    </div>\
                    <div class='mb-1 mt-2 post-main-content'>"+mes[0].content+"</div>\
                    <div id='post-date' class='post-content-bottom'><small>"+mes[0].postdate+"</small></div>\
                    </div>");
                    $(".content-active .replynum").html(reply_num+1);
                    $("#form-reply").trigger("reset");
                }
            });
            event.preventDefault();
        }
        //form.addClass('was-validated');
    }

    function submitPrevReply(pointer){
        var form = $("#form-replyPrev");
        var button = $(pointer);
        var data_replyId= button.data('replyid'); 
        var data_prevReplyId= button.data('replyprevid');
        var preContent=$("#newReplyPrev .preContent .post-main-content").html();
        var data_title= button.data('title'); 
        var reply_num=parseInt($(".content-active .replynum").html());
        console.log(preContent);

        if (form[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        else if (form[0].checkValidity() === true){
            $.ajax({
                url: "/addNewReply",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    topic:data_replyId,
                    postby:"yy0234",
                    content:$("#replyPrev-content").val(),
                    replyprev:true,
                    replyprevid:data_prevReplyId,
                    replyprecontent:preContent
                }),
                complete: function complete() {
                },
                error: function error(err) {
                    alert(err);
                    console.log(err);
                },
                success: function (mes) {
                    console.log(mes);
                    $('#newReplyPrev').modal('hide');
                    $("#list-forum-reply").append("\
                    <div class='list-group-item flex-column align-items-start post-content'>\
                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                    <small class='mb-1'>"+mes[0].postby+"</small>\
                    <button type='button' class='fas fa-reply' style='border:none;background:none;' data-toggle='modal' data-target='#newReplyPrev' data-title='"+data_title+"'data-replyId='"+data_replyId+"' data-replyPrevId='"+mes[0].postid+"'></button>\
                    </div>\
                    <div style='padding: 8px;margin-top: 15px;margin-bottom: 15px;border-left: 2px solid lightgray; color:  gray;'>"+mes[0].replyprecontent+"</div>\
                    <div class='mb-1 mt-2 post-main-content'>"+mes[0].content+"</div>\
                    <div id='post-date' class='post-content-bottom'><small>"+mes[0].postdate+"</small></div>\
                    </div>");
                    $(".content-active .replynum").html(reply_num+1);
                    $("#form-replyPrev").trigger("reset");
                    
                }
            });
            event.preventDefault();
        }
        //form.addClass('was-validated');
    }

    function listPostTitle(category,object){
        $(".category div").removeClass("active");
        $(object).addClass("active");
        switch(category){
            case 'General':$("#post-category>option")[0].selected=true;break;
            case 'Health':$("#post-category>option")[1].selected=true;break;
            case 'Training':$("#post-category>option")[2].selected=true;break;
            case 'Behavior':$("#post-category>option")[3].selected=true;break;
            case 'Grooming':$("#post-category>option")[4].selected=true;break;
            case 'Toy':$("#post-category>option")[5].selected=true;break;
        }
        
        $.ajax({
            url: "/listPostTitle",
            type: "GET",
            data: {
                category:"('"+category+"')"
            },
            success: function (mes) {
                $("#list-forum-topic").html("");
                for(var i=0;i<mes.length;i++){
                    $("#list-forum-topic").append("\
                    <li class='list-group-item list-group-item-action d-flex justify-content-between lh-condensed' style='cursor:pointer;' onclick='listPostContent("+mes[i].topicid+",\""+mes[i].subject+"\",this)'>\
                    <div>\
                    <h5 class='my-0'>"+mes[i].subject+"</h5>\
                    <small class='text-muted'>"+mes[i].postby+"</small>\
                    </div>\
                    <small class='text-muted'>Replies: <span class='replynum'>"+mes[i].replynum+"</span></small>\
                    </li>")
                }
                $("#list-forum-content").html("");
                $("#list-forum-content").append("\
                <div style='text-align: center;margin: 10%;'>\
                    <img src='/images/adopets.png' width='auto' height='auto' class='d-inline-block align-top' alt=''>\
                </div>")
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function listPostContent(topic,title,object){
        $("#list-forum-topic>li").removeClass("content-active");
        $("#list-forum-select").toggleClass("view-active view-unactive");
        $("#list-forum-content").toggleClass("view-active view-unactive");
        $(object).addClass("content-active");
        spinner();
        $.ajax({
            url: "/listPostContent",
            type: "GET",
            data: {
                topic:"('"+topic+"')"
            },
            success: function (mes) {
                $("#list-forum-content").html("");
                $("#list-forum-content").append("\
                    <div class='list-group list-group-flush'>\
                        <div class='list-group-item flex-column align-items-start post-title'>\
                            <div class='d-flex w-100 justify-content-between post-content-top'>\
                            <button type='button' class='fas fa-arrow-left return-button' style='border:none;background:none;color:grey;' onclick='toggle()'></button>\
                            <h6 class='my-1'>"+title+"</h6>\
                            <button type='button' class='btn btn-outline-primary btn-sm' onclick=\"checklogin(function(){$('#newReply').modal('show',$(this))})\" data-title='"+title+"'data-replyId='"+topic+"'>Reply</button>\
                            </div>\
                        </div>\
                    </div>\
                    <div class='list-group list-group-flush scrollbar' id='list-forum-reply' style='height:80vh; overflow-y:auto;'>\
                        <div class='margin-top-30'></div>\
                    </div>");
                    $("#list-forum-content").promise().done(function() {
                        for(var i=0;i<mes.length;i++){
                            if (mes[i].replyprev==false){
                                $("#list-forum-reply").append("\
                                    <div class='list-group-item flex-column align-items-start post-content'>\
                                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                                    <small class='mb-1'>"+mes[i].postby+"</small>\
                                    <button type='button' class='fas fa-reply' style='border:none;background:none;' onclick=\"checklogin(function(){$('#newReplyPrev').modal('show',$(this))})\"\
                                    data-title='"+title+"'data-replyId='"+topic+"' data-replyPrevId='"+mes[i].postid+"'></button>\
                                    </div>\
                                    <div class='mb-1 mt-2 post-main-content'>"+mes[i].content+"</div>\
                                    <div id='post-date' class='post-content-bottom'><small>"+mes[i].postdate+"</small></div>\
                                    </div>")
                            }
                            else{
                                $("#list-forum-reply").append("\
                                    <div class='list-group-item flex-column align-items-start post-content'>\
                                    <div class='d-flex w-100 justify-content-between post-content-top'>\
                                    <small class='mb-1'>"+mes[i].postby+"</small>\
                                    <button type='button' class='fas fa-reply' style='border:none;background:none;' onclick=\"checklogin(function(){$('#newReplyPrev').modal('show',$(this)})\" data-title='"+title+"'data-replyId='"+topic+"' data-replyPrevId='"+mes[i].postid+"'></button>\
                                    </div>\
                                    <div style='padding: 8px;margin-top: 15px;margin-bottom: 15px;border-left: 2px solid lightgray; color:  gray;'>"+mes[i].replyprecontent+"</div>\
                                    <div class='mb-1 mt-2 post-main-content'>"+mes[i].content+"</div>\
                                    <div id='post-date' class='post-content-bottom'><small>"+mes[i].postdate+"</small></div>\
                                    </div>")
                            }
                        }
                    });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>

