<link rel="stylesheet" type="text/css" href="/stylesheets/pages/profile.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid">
    <div style="position:absolute;right:0;margin-right:10px;"><button type="button" class="btn btn-outline-info">Edit Profile</button></div>
    <div style="text-align:center; padding-bottom:20px;">
        <img src="/images/user_image.jpg" alt="user image" class="rounded-circle" style="width:120px;height:120px;">
        <div style="color:darkgray;font-weight:bold;margin-top:10px;">Username</div>
    </div>
    <div class="row" style="padding-left:30px;padding-right:30px;padding-top:20px;">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-adopt-tab" data-toggle="pill" href="#v-pills-adopt" role="tab" aria-controls="v-pills-adopt" aria-selected="true">Adoption</a>
                <a class="nav-link" id="v-pills-trade-tab" data-toggle="pill" href="#v-pills-trade" role="tab" aria-controls="v-pills-trade" aria-selected="false">Trade</a>
                <a class="nav-link" id="v-pills-forum-tab" data-toggle="pill" href="#v-pills-forum" role="tab" aria-controls="v-pills-forum" aria-selected="false">Forum</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-adopt" role="tabpanel" aria-labelledby="v-pills-adopt-tab">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                            <div class="card h-100">
                                <a id="pet_image"><img src="/images/cat1.jpg"></a>
                                <div class="card-body">
                                    <div id="petTable" style="display:table">
                                        <div style="display:table-row">
                                            <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                        </div>
                                        <div style="display:table-row">
                                            <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                        </div>
                                        <div style="display:table-row">
                                            <div class="captionDescription" style="display:table-cell">female</div>
                                        </div>
                                        <div style="display:table-row">
                                            <div class="captionBreeds" style="display:table-cell">mixed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-trade" role="tabpanel" aria-labelledby="v-pills-trade-tab">
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-forum" role="tabpanel" aria-labelledby="v-pills-forum-tab">
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>