<link rel="stylesheet" type="text/css" href="/stylesheets/pages/profile.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid">
    <div style="position:absolute;right:0;margin-right:10px;"><button type="button" class="btn btn-outline-info">Edit Profile</button></div>
    <div style="text-align:center; padding-bottom:20px;">
        <img src="/images/user_image.jpg" alt="user image" class="rounded-circle" style="width:120px;height:120px;">
        <div style="color:darkgray;font-weight:bold;margin-top:10px;">Username</div>
    </div>
    <div class="row" style="padding-left:30px;padding-right:30px;padding-top:20px;">
        <div class="col-2">
            <div class="panel-group"> 
                <div class="panel panel-default">
                    <a class="list-group-item" data-toggle="collapse" href="#collapseTC001A">
                        Adoption
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC001A">
                        <div class="panel-body">
                            <a href="#" class="list-group-item">Your Post</a>
                            <a href="#" class="list-group-item">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" data-toggle="collapse" href="#collapseTC002A">
                        Trade
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC002A">
                        <div class="panel-body">
                            <a href="#" class="list-group-item">Your Post</a>
                            <a href="#" class="list-group-item">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item">
                        Forum
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10">
        </div>
    </div>
</div>