<link rel="stylesheet" type="text/css" href="/stylesheets/pages/profile.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid">
    <div class="row" style="padding-left:30px;padding-right:30px;padding-top:20px;">
        <div class="col-3">
            <div style="text-align:center;margin-bottom:30px;">
                <img src="/images/user_image.jpg" alt="user image" class="rounded-circle" style="width:120px;height:120px;">
                <div style="color:darkgray;font-weight:bold;margin-top:10px;">Username</div>
            </div>
            <div class="panel-group"> 
                <div class="panel panel-default">
                    <a class="list-group-item cus-active" data-toggle="collapse" href="#collapseTC001A">
                        Adoption
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC001A" style="border-right: 1px solid rgba(0,0,0,.125);border-left: 1px solid rgba(0,0,0,.125);">
                        <div class="panel-body">
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Your Post</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" data-toggle="collapse" href="#collapseTC002A">
                        Trade
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC002A" style="border-right: 1px solid rgba(0,0,0,.125);border-left: 1px solid rgba(0,0,0,.125);">
                        <div class="panel-body">
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Sell</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Purchase</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" style="color: #007bff;text-decoration:none;cursor:pointer;">
                        Forum
                    </a>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" style="color: #007bff;text-decoration:none;cursor:pointer;">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                        <div class="card h-100">
                            <a id="pet_image"><img src="/images/cat1.jpg"></a>
                            <div class="card-body">
                                <div id="petTable" style="display:table">
                                    <div style="display:table-row">
                                        <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">female</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionBreeds" style="display:table-cell">mixed</div>
                                    </div>
                                </div>
                                <div class="fas fa-trash-alt"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                        <div class="card h-100">
                            <a id="pet_image"><img src="/images/cat1.jpg"></a>
                            <div class="card-body">
                                <div id="petTable" style="display:table">
                                    <div style="display:table-row">
                                        <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">female</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionBreeds" style="display:table-cell">mixed</div>
                                    </div>
                                </div>
                                <div id="test" class="fas fa-trash-alt" data-petid="1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                        <div class="card h-100">
                            <a id="pet_image"><img src="/images/cat1.jpg"></a>
                            <div class="card-body">
                                <div id="petTable" style="display:table">
                                    <div style="display:table-row">
                                        <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">female</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionBreeds" style="display:table-cell">mixed</div>
                                    </div>
                                </div>
                                <div class="fas fa-trash-alt"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                        <div class="card h-100">
                            <a id="pet_image"><img src="/images/cat1.jpg"></a>
                            <div class="card-body">
                                <div id="petTable" style="display:table">
                                    <div style="display:table-row">
                                        <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">female</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionBreeds" style="display:table-cell">mixed</div>
                                    </div>
                                </div>
                                <div class="fas fa-trash-alt"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="overlay" onclick="changeModal(1)" data-toggle="modal" data-target="#petDetailModal">
                        <div class="card h-100">
                            <a id="pet_image"><img src="/images/cat1.jpg"></a>
                            <div class="card-body">
                                <div id="petTable" style="display:table">
                                    <div style="display:table-row">
                                        <div class="captionName" style="display:table-cell">Yeung Song-Y</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">4 years and 6 months</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionDescription" style="display:table-cell">female</div>
                                    </div>
                                    <div style="display:table-row">
                                        <div class="captionBreeds" style="display:table-cell">mixed</div>
                                    </div>
                                </div>
                                <div class="fas fa-trash-alt"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--pet detail-->
    <div class="modal fade" id="petDetailModal" tabindex="-1" role="dialog" aria-labelledby="petDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-bottom: 20px;">
                    <div class="row" style="margin-left:0;margin-right:0;">
                        <div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
                            <a id="modal_petImage"><img src="/images/cat3.jpg" /></a>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" style="width:80%">Contact Provider</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
                            <div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Pet ID
                                            </div>
                                            <div id="modal_petId" style="display:table-cell">
                                                001
                                            </div>
                                        </div>
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Name
                                            </div>
                                            <div id="modal_petName" style="display:table-cell">
                                                Name
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Age
                                            </div>
                                            <div id="modal_petAge" style="display:table-cell">
                                                Age
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Size
                                            </div>
                                            <div id="modal_petSize" style="display:table-cell">
                                                Small
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Coat length
                                            </div>
                                            <div id="modal_petCoat" style="display:table-cell">
                                                Medium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Post date
                                            </div>
                                            <div id="modal_petPostDate" style="display:table-cell">
                                                2018/2/21
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Gender
                                            </div>
                                            <div id="modal_petGender" style="display:table-cell">
                                                Male
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Breed type
                                            </div>
                                            <div id="modal_petBreed" style="display:table-cell">
                                                Mixed
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Neutered
                                            </div>
                                            <div id="modal_petNeutered" style="display:table-cell">
                                                Yes
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Provider
                                            </div>
                                            <div id="modal_petProvider" style="display:table-cell">
                                                yy0234
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:blue">
                                    Description
                                </div>
                                <div id="modal_petDescription" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
                                    
                                    I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
                                    
                                    My estimated birthdate is 10/1/2015.
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:grey">
                                    Remark
                                </div>
                                <div id="modal_petRemark" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    None
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>