<link rel="stylesheet" type="text/css" href="/stylesheets/pages/profile.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/pages/petSearch.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
<div class="container-fluid">
    <div class="row" style="padding-left:30px;padding-right:30px;padding-top:20px;margin:0">
        <div class="col-md-3" style="margin-bottom:30px;">
            <div style="text-align:center;margin-bottom:30px;">
                <img src="/images/user_image.jpg" alt="user image" class="rounded-circle" style="width:120px;height:120px;">
                <div style="color:darkgray;font-weight:bold;margin-top:10px;">Username</div>
            </div>
            <div class="panel-group"> 
                <div class="panel panel-default">
                    <a class="list-group-item cus-active" data-toggle="collapse" href="#collapseTC001A">
                        Adoption
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC001A" style="border-right: 1px solid rgba(0,0,0,.125);border-left: 1px solid rgba(0,0,0,.125);">
                        <div class="panel-body">
                            <a class="list-group-item" style="padding-left: 40px;border:none;color:royalblue;cursor:pointer;" onclick="switchMode('AdoptPost'); AdoptPost()">Your Post</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" data-toggle="collapse" href="#collapseTC002A">
                        Trade
                    </a>
                    <div class="panel-collapse collapse" id="collapseTC002A" style="border-right: 1px solid rgba(0,0,0,.125);border-left: 1px solid rgba(0,0,0,.125);">
                        <div class="panel-body">
                            <a class="list-group-item" style="padding-left: 40px;border:none;color:royalblue;cursor:pointer;" onclick="switchMode('showSell'); showSell()">Sell</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Purchase</a>
                            <a href="#" class="list-group-item" style="padding-left: 40px;border:none;color:royalblue">Your Favorite</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" style="color: #007bff;text-decoration:none;cursor:pointer;">
                        Forum
                    </a>
                </div>
                <div class="panel panel-default">
                    <a class="list-group-item" style="color: #007bff;text-decoration:none;cursor:pointer;">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="mode"></div>
        <!---
        <div class="col-md-9">
            <div id="petSearchResult" class="row" style="margin: 0 auto;">
            </div>
            <ul id="pagination" class="pagination justify-content-center" style="display:none">
                <li id="previous" class="page-item">
                    <a class="page-link" aria-label="Previous" onclick="pagePet(-2)">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" onclick="pagePet(-1)">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="col-md-9">
            <div class="row" id="product_display">
            </div>
            <ul id="pagination" class="pagination justify-content-center" style="display:none">
                <li id="previous" class="page-item">
                    <a class="page-link" aria-label="Previous" onclick="pageSupply(-2)">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" onclick="pageSupply(-1)">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
         -->
    </div>
    <!--pet detail-->
    <div class="modal fade" id="petDetailModal" tabindex="-1" role="dialog" aria-labelledby="petDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-bottom: 20px;">
                    <div id="petSearchResult" class="row" style="margin: 0 auto;">
                        <div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
                            <a id="modal_petImage"><img src="/images/cat3.jpg" /></a>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" style="width:80%">Contact Provider</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
                            <div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Pet ID
                                            </div>
                                            <div id="modal_petId" style="display:table-cell">
                                                001
                                            </div>
                                        </div>
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Name
                                            </div>
                                            <div id="modal_petName" style="display:table-cell">
                                                Name
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Age
                                            </div>
                                            <div id="modal_petAge" style="display:table-cell">
                                                Age
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Size
                                            </div>
                                            <div id="modal_petSize" style="display:table-cell">
                                                Small
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Coat length
                                            </div>
                                            <div id="modal_petCoat" style="display:table-cell">
                                                Medium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Post date
                                            </div>
                                            <div id="modal_petPostDate" style="display:table-cell">
                                                2018/2/21
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Gender
                                            </div>
                                            <div id="modal_petGender" style="display:table-cell">
                                                Male
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Breed type
                                            </div>
                                            <div id="modal_petBreed" style="display:table-cell">
                                                Mixed
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Neutered
                                            </div>
                                            <div id="modal_petNeutered" style="display:table-cell">
                                                Yes
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Provider
                                            </div>
                                            <div id="modal_petProvider" style="display:table-cell">
                                                yy0234
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:blue">
                                    Description
                                </div>
                                <div id="modal_petDescription" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
                                    
                                    I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
                                    
                                    My estimated birthdate is 10/1/2015.
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:grey">
                                    Remark
                                </div>
                                <div id="modal_petRemark" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    None
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--supply detail-->
    <div class="modal fade" id="supplyDetailModal" tabindex="-1" role="dialog" aria-labelledby="supplyDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-bottom: 20px;">
                    <div class="row" style="margin-left:0;margin-right:0;">
                        <div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
                            <a id="modal_supplyImage"><img src="/images/cat3.jpg" /></a>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" style="width:80%" onclick="loginToAddCart()">Add to Shopping Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
                            <div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Supply ID
                                            </div>
                                            <div id="modal_supplyId" style="display:table-cell">
                                                001
                                            </div>
                                        </div>
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Name
                                            </div>
                                            <div id="modal_supplyName" style="display:table-cell">
                                                Name
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Type
                                            </div>
                                            <div id="modal_supplyType" style="display:table-cell">
                                                Type
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Provider
                                            </div>
                                            <div id="modal_supplyProvider" style="display:table-cell">
                                                Provider
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Post date
                                            </div>
                                            <div id="modal_supplyPostDate" style="display:table-cell">
                                                Post date
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Condition
                                            </div>
                                            <div id="modal_supplyStatus" style="display:table-cell">
                                                    Condition
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Price
                                            </div>
                                            <div id="modal_supplyPrice" style="display:table-cell">
                                                Price
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Pet type
                                            </div>
                                            <div id="modal_supplyPettype" style="display:table-cell">
                                                Pet type
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Quantity
                                            </div>
                                            <div id="modal_supplyQuantity" style="display:table-cell">
                                                Quantity
                                            </div>
                                        </div>
                                        <div style="display:table-row">
                                            <div style="display:table-cell; font-weight:bold;width:40%">
                                                Last Update
                                            </div>
                                            <div id="modal_supplyLastupdate" style="display:table-cell">
                                                Last Update
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:blue">
                                    Description
                                </div>
                                <div id="modal_supplyDescription" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
                                    
                                    I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
                                    
                                    My estimated birthdate is 10/1/2015.
                                </div>
                            </div>
                            <div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
                                <div class="col-md-12" style="font-weight:bold;color:grey">
                                    Remark
                                </div>
                                <div id="modal_supplyRemark" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
                                    None
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function switchMode(mode){
        $("#mode").html("");
        if (mode == 'AdoptPost')
        {
            $("#mode").append("\
            <div id=\"petSearchResult\" class=\"row\" style=\"margin: 0 auto;\">\
            </div>\
            <ul id=\"pagination\" class=\"pagination justify-content-center\" style=\"display:none\">\
                <li id=\"previous\" class=\"page-item\">\
                    <a class=\"page-link\" aria-label=\"Previous\" onclick=\"pagePet(-2)\">\
                    <span aria-hidden=\"true\">«</span>\
                    <span class=\"sr-only\">Previous</span>\
                    </a>\
                </li>\
                <li class=\"page-item\">\
                    <a class=\"page-link\" aria-label=\"Next\" onclick=\"pagePet(-1)\">\
                    <span aria-hidden=\"true\">»</span>\
                    <span class=\"sr-only\">Next</span>\
                    </a>\
                </li>\
            </ul>")
        }
        else if (mode == 'showSell')
        {
            $("#mode").append("\
            <div class=\"row\" id=\"product_display\">\
            </div>\
            <ul id=\"pagination\" class=\"pagination justify-content-center\" style=\"display:none\">\
                <li id=\"previous\" class=\"page-item\">\
                    <a class=\"page-link\" aria-label=\"Previous\" onclick=\"pageSupply(-2)\">\
                    <span aria-hidden=\"true\">«</span>\
                    <span class=\"sr-only\">Previous</span>\
                    </a>\
                </li>\
                <li class=\"page-item\">\
                    <a class=\"page-link\" aria-label=\"Next\" onclick=\"pageSupply(-1)\">\
                    <span aria-hidden=\"true\">»</span>\
                    <span class=\"sr-only\">Next</span>\
                    </a>\
                </li>\
            </ul>")
        }
    }

    var petData;
    var current_page =1;
    var total_page=0;
    
    function delePet(petid,trash){
        ($(trash).parents().parents())[2].remove();
        $.ajax({
			url: "/deleteMyAdopt",
			type: "GET",
			data: {
                petid:petid
			},
			success: function (mes) {
				console.log(mes);
			},
			error: function (err) {
				console.log(err);
			}
		});
    }

    function changeModal(elementNo){
        var petData_element=petData[elementNo];
        $("#modal_petImage").html(petData_element.peturl);
        $("#modal_petId").html(petData_element.petid);
        $("#modal_petName").html(petData_element.name);
        $("#modal_petAge").html(petData_element.age);
        $("#modal_petSize").html(petData_element.size);
        $("#modal_petCoat").html(petData_element.coat);
        var d=new Date(petData_element.postdate);
        $("#modal_petPostDate").html(d.getDate()+"-"+(parseInt(d.getMonth())+1)+"-"+d.getFullYear());
        $("#modal_petGender").html(petData_element.gender);
        $("#modal_petBreed").html(petData_element.breed);
        if (petData_element.neutered==true)
            $("#modal_petNeutered").html("Yes");
        else $("#modal_petNeutered").html("No");
        $("#modal_petProvider").html(petData_element.providerid);
        $("#modal_petDescription").html(petData_element.description);
        $("#modal_petRemark").html(petData_element.remark);

    }

    function pagePet(pageNo){
        var static_pageNo=pageNo;
        if (pageNo==-2){
            if (current_page==1){
                return;
            }
            static_pageNo=current_page-1;
        }
        else if (pageNo==-1){
            if (current_page==total_page){
                return;
            }
            static_pageNo=current_page+1;
        }
        $("#petSearchResult").html("");
        var page_no=(static_pageNo-1)*12;
        if (petData.length>(page_no+12)){
            for (var i=page_no;i<page_no+12;i++){
                $("#petSearchResult").append("\
                    <div class=\"col-lg-4 col-md-6 mb-4\">\
                        <div>\
                            <div class=\"card h-100\">\
                                <a id=\"pet_image\" class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">"+petData[i].peturl+"</a>\
                                <div class=\"card-body\">\
                                    <div id=\"petTable\" style=\"display:table\">\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionName\" style=\"display:table-cell\">"+petData[i].name+"</div>\
                                        </div>\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionDescription\" style=\"display:table-cell\">"+petData[i].age+"</div>\
                                        </div>\
                                            <div style=\"display:table-row\">\
                                            <div class=\"captionDescription\" style=\"display:table-cell\">"+petData[i].gender+"</div>\
                                        </div>\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionBreeds\" style=\"display:table-cell\">"+petData[i].breed+"</div>\
                                        </div>\
                                    </div>\
                                    <button type=\"button\" class=\"fas fa-trash-alt\" style=\"background:none;border:none\" onclick=\"delePet("+petData[i].petid+",this)\"></button>\
                                </div>\
                            </div>\
                        </div>\
                    </div>")
            }
        }
        else{
            for (var i=page_no;i<petData.length;i++){
                $("#petSearchResult").append("\
                    <div class=\"col-lg-4 col-md-6 mb-4\">\
                        <div>\
                            <div class=\"card h-100\">\
                                <a id=\"pet_image\" class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">"+petData[i].peturl+"</a>\
                                <div class=\"card-body\">\
                                    <div id=\"petTable\"style=\"display:table\">\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionName\" style=\"display:table-cell\">"+petData[i].name+"</div>\
                                        </div>\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionDescription\" style=\"display:table-cell\">"+petData[i].age+"</div>\
                                        </div>\
                                            <div style=\"display:table-row\">\
                                            <div class=\"captionDescription\" style=\"display:table-cell\">"+petData[i].gender+"</div>\
                                        </div>\
                                        <div style=\"display:table-row\">\
                                            <div class=\"captionBreeds\" style=\"display:table-cell\">"+petData[i].breed+"</div>\
                                        </div>\
                                    </div>\
                                    <button type=\"button\" class=\"fas fa-trash-alt\" style=\"background:none;border:none\" onclick=\"delePet("+petData[i].petid+",this)\"></button>\
                                </div>\
                            </div>\
                        </div>\
                    </div>")
            }
        }
        $('#page'+current_page).css("background-color","white");
        current_page=static_pageNo;
        $("#page"+current_page).css("background-color","gainsboro");
    }

    function AdoptPost(){
        $.ajax({
            url: "/listMyAdopt",
            type: "GET",
            data: {
            },
            success: function (mes) {
                $("#petSearchResult").html("");
                if (mes.length==0){
                    console.log("No result");
                }
                else if (mes.length>12){
                    for (var i=0; i<12;i++){
                        $("#petSearchResult").append("\
                            <div class=\"col-lg-4 col-md-6 mb-4\">\
                                <div>\
                                    <div class=\"card h-100\">\
                                        <a id=\"pet_image\" class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\" >"+mes[i].peturl+"</a>\
                                        <div class=\"card-body\">\
                                            <div id=\"petTable\" style=\"display:table\">\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionName\" style=\"display:table-cell\">"+mes[i].name+"</div>\
                                                </div>\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].age+"</div>\
                                                </div>\
                                                    <div style=\"display:table-row\">\
                                                    <div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].gender+"</div>\
                                                </div>\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionBreeds\" style=\"display:table-cell\">"+mes[i].breed+"</div>\
                                                </div>\
                                            </div>\
                                            <button type=\"button\" class=\"fas fa-trash-alt\" style=\"background:none;border:none\" onclick=\"delePet("+mes[i].petid+",this)\"></button>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>")
                    }
                    if (total_page!=0)
                        for (var i=1;i<=total_page;i++)
                            $("#page"+i).remove();
                    $("#pagination").css('display','flex');
                    total_page=Math.ceil(mes.length/12);
                    for (var i=total_page;i>0;i--)
                        $("<li class=\"page-item\"><a id=\"page"+i+"\" class=\"page-link\" onclick=\"pagePet("+i+")\">"+i+"</a></li>").insertAfter("#previous");
                    $('#page'+current_page).css("background-color","gainsboro");
                }
                else{
                    mes.forEach(function(element,index) {
                        $("#petSearchResult").append("\
                            <div class=\"col-lg-4 col-md-6 mb-4\">\
                                <div>\
                                    <div class=\"card h-100\">\
                                        <a id=\"pet_image\"  class=\"overlay\" onclick=\"changeModal("+index+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">"+element.peturl+"</a>\
                                        <div class=\"card-body\">\
                                            <div id=\"petTable\" style=\"display:table\">\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionName\" style=\"display:table-cell\">"+element.name+"</div>\
                                                </div>\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionDescription\" style=\"display:table-cell\">"+element.age+"</div>\
                                                </div>\
                                                    <div style=\"display:table-row\">\
                                                    <div class=\"captionDescription\" style=\"display:table-cell\">"+element.gender+"</div>\
                                                </div>\
                                                <div style=\"display:table-row\">\
                                                    <div class=\"captionBreeds\" style=\"display:table-cell\">"+element.breed+"</div>\
                                                </div>\
                                            </div>\
                                            <button type=\"button\" class=\"fas fa-trash-alt\" style=\"background:none;border:none\" onclick=\"delePet("+element.petid+",this)\"></button>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>")
                    });
                    if (total_page!=0)
                        for (var i=1;i<=total_page;i++)
                            $("#page"+i).remove();
                    $("#pagination").css('display','none');
                    total_page=0;
                }
                petData = mes;
            },
            error: function (err) {
                console.log (err);
            }
        });
    }




//Selling supply



var supplyData;

function changeSupplyModal(elementNo){
	var supplyData_element=supplyData.responseJSON[elementNo];
	$("#modal_supplyId").html(supplyData_element.supplyid);
	$("#modal_supplyName").html(supplyData_element.name);
	$("#modal_supplyDescription").html(supplyData_element.description);
	$("#modal_supplyPrice").html(supplyData_element.price);
	$("#modal_supplyType").html(supplyData_element.type);
	var d=new Date(supplyData_element.postdate);
	$("#modal_supplyPostDate").html(d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear());
	var e=new Date(supplyData_element.lastupdate);
	$("#modal_supplyLastupdate").html(d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear());
	$("#modal_supplyStatus").html(supplyData_element.status)
	$("#modal_supplyRemark").html(supplyData_element.remark);
	$("#modal_supplyImage").html(supplyData_element.supplyurl);
	$("#modal_supplyProvider").html(supplyData_element.providerid);
	$("#modal_supplyQuantity").html(supplyData_element.quantity);
	$("#modal_supplyPettype").html(supplyData_element.pettype);
}

function pageSupply(pageNo){
	var static_pageNo=pageNo;
	if (pageNo==-2){
		if (current_page==1){
			return;
		}
		static_pageNo=current_page-1;
	}
	else if (pageNo==-1){
		if (current_page==total_page){
			return;
		}
		static_pageNo=current_page+1;
	}
	$("#product_display").html("");
	var page_no=(static_pageNo-1)*12;
	if (supplyData.responseJSON.length>(page_no+12)){
		for (var i=page_no;i<page_no+12;i++){
			$("#product_display").append("\
										<div class=\"overlay\" onclick=\"changeSupplyModal("+i+")\" data-toggle=\"modal\" data-target=\"#supplyDetailModal\">\
											<div class=\"card\">\
												<a class=\"product_image\">"+supplyData.responseJSON[i].supplyurl+"</a>\
												<div class=\"details\">\
													<a class=\"user\" href=\"\">\
														<div class=\"user-photo\">\
															<img class=\"user_image\" src=\"/images/user_image.jpg\"/>\
														</div>\
														<div class=\"username\">User</div>\
													</a>\
													<div class=\"heart_info\">\
														<div class=\"heart_no\"><i class=\"fab fa-gratipay\"></i>" + 100 + "</div>\
													</div>\
												</div>\
												<div class=\"arrow\">\
													<div class=\"left_arrow\">&#xf104;</div>\
													<div class=\"right_arrow\">&#xf105;</div>\
												</div>\
												<div class=\"card-info\">\
													<div class=\"product_info\">\
														<a class=\"product_page\">\
															<div class=\"product_title\">" + supplyData.responseJSON[i].name +"</div>\
															<div class=\"item_price\">HKD" + supplyData.responseJSON[i].price + "</div>\
															<div class=\"item_description\">" + supplyData.responseJSON[i].description +"</div>\
														</a>\
													</div>\
													<div class=\"product_buttons\">\
														<div class=\"shopping_cart\">\
															<i class=\"fa fa-cart-plus\"></i>\
														</div>\
														<div class=\"heart\">\
															<i class=\"far fa-heart\"></i>\
															<i class=\"fas fa-heart\"></i>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>")
		}
	}
	else{
		for (var i=page_no;i<supplyData.responseJSON.length;i++){
			$("#product_display").append("\
										<div class=\"overlay\" onclick=\"changeSupplyModal("+i+")\" data-toggle=\"modal\" data-target=\"#supplyDetailModal\">\
											<div class=\"card\">\
												<a class=\"product_image\">"+supplyData.responseJSON[i].supplyurl+"</a>\
												<div class=\"details\">\
													<a class=\"user\" href=\"\">\
														<div class=\"user-photo\">\
															<img class=\"user_image\" src=\"/images/user_image.jpg\"/>\
														</div>\
														<div class=\"username\">User</div>\
													</a>\
													<div class=\"heart_info\">\
														<div class=\"heart_no\"><i class=\"fab fa-gratipay\"></i>" + 100 + "</div>\
													</div>\
												</div>\
												<div class=\"arrow\">\
													<div class=\"left_arrow\">&#xf104;</div>\
													<div class=\"right_arrow\">&#xf105;</div>\
												</div>\
												<div class=\"card-info\">\
													<div class=\"product_info\">\
														<a class=\"product_page\">\
															<div class=\"product_title\">" + supplyData.responseJSON[i].name +"</div>\
															<div class=\"item_price\">HKD" + supplyData.responseJSON[i].price + "</div>\
															<div class=\"item_description\">" + supplyData.responseJSON[i].description +"</div>\
														</a>\
													</div>\
													<div class=\"product_buttons\">\
														<div class=\"shopping_cart\">\
															<i class=\"fa fa-cart-plus\"></i>\
														</div>\
														<div class=\"heart\">\
															<i class=\"far fa-heart\"></i>\
															<i class=\"fas fa-heart\"></i>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>")
		}
	}
	$('#page'+current_page).css("background-color","white");
	current_page=static_pageNo;
	$("#page"+current_page).css("background-color","gainsboro");
}

function showSell(){
supplyData = $.ajax({
		url: "/listSellingSupply",
		type: "GET",
		data: {
		},
		success: function (mes) {
			$("#product_display").html("");
			if (mes.length==0){
				$("#product_display").html("<div style=\"text-align: center;margin: 0 auto;\">No record found</div>");
				$("#pagination").css('display','none');	
			}
			else if (mes.length>12){
				for (var i=0; i<12;i++){
					$("#product_display").append("\
										<div class=\"overlay\" onclick=\"changeSupplyModal("+i+")\" data-toggle=\"modal\" data-target=\"#supplyDetailModal\">\
											<div class=\"card\">\
												<a class=\"product_image\">"+mes[i].supplyurl+"</a>\
												<div class=\"details\">\
													<a class=\"user\" href=\"\">\
														<div class=\"user-photo\">\
															<img class=\"user_image\" src=\"/images/user_image.jpg\"/>\
														</div>\
														<div class=\"username\">User</div>\
													</a>\
													<div class=\"heart_info\">\
														<div class=\"heart_no\"><i class=\"fab fa-gratipay\"></i>" + 100 + "</div>\
													</div>\
												</div>\
												<div class=\"arrow\">\
													<div class=\"left_arrow\">&#xf104;</div>\
													<div class=\"right_arrow\">&#xf105;</div>\
												</div>\
												<div class=\"card-info\">\
													<div class=\"product_info\">\
														<a class=\"product_page\">\
															<div class=\"product_title\">" + mes[i].name +"</div>\
															<div class=\"item_price\">HKD" + mes[i].price + "</div>\
															<div class=\"item_description\">" + mes[i].description +"</div>\
														</a>\
													</div>\
													<div class=\"product_buttons\">\
														<div class=\"shopping_cart\">\
															<i class=\"fa fa-cart-plus\"></i>\
														</div>\
														<div class=\"heart\">\
															<i class=\"far fa-heart\"></i>\
															<i class=\"fas fa-heart\"></i>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>")
				}
				if (total_page!=0)
					for (var i=1;i<=total_page;i++)
						$("#page"+i).remove();
				$("#pagination").css('display','flex');
				total_page=Math.ceil(mes.length/12);
				for (var i=total_page;i>0;i--)
					$("<li class=\"page-item\"><a id=\"page"+i+"\" class=\"page-link\" onclick=\"pageSupply("+i+")\">"+i+"</a></li>").insertAfter("#previous");
				$('#page'+current_page).css("background-color","gainsboro");
			}
			else{
				mes.forEach(function(element,index) {
					$("#product_display").append("\
										<div class=\"overlay\" onclick=\"changeSupplyModal("+index+")\" data-toggle=\"modal\" data-target=\"#supplyDetailModal\">\
											<div class=\"card\">\
												<a class=\"product_image\">"+element.supplyurl+"</a>\
												<div class=\"details\">\
													<a class=\"user\" href=\"\">\
														<div class=\"user-photo\">\
															<img class=\"user_image\" src=\"/images/user_image.jpg\"/>\
														</div>\
														<div class=\"username\">User</div>\
													</a>\
													<div class=\"heart_info\">\
														<div class=\"heart_no\"><i class=\"fab fa-gratipay\"></i>" + 100 + "</div>\
													</div>\
												</div>\
												<div class=\"arrow\">\
													<div class=\"left_arrow\">&#xf104;</div>\
													<div class=\"right_arrow\">&#xf105;</div>\
												</div>\
												<div class=\"card-info\">\
													<div class=\"product_info\">\
														<a class=\"product_page\">\
															<div class=\"product_title\">" + element.name +"</div>\
															<div class=\"item_price\">HKD" + element.price + "</div>\
															<div class=\"item_description\">" + element.description +"</div>\
														</a>\
													</div>\
													<div class=\"product_buttons\">\
														<div class=\"shopping_cart\">\
															<i class=\"fa fa-cart-plus\"></i>\
														</div>\
														<div class=\"heart\">\
															<i class=\"far fa-heart\"></i>\
															<i class=\"fas fa-heart\"></i>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>")
				});
				if (total_page!=0)
					for (var i=1;i<=total_page;i++)
						$("#page"+i).remove();
				$("#pagination").css('display','none');
				total_page=0;
			}
            return mes;
		},
		error: function (err) {
			return err;
		}
	});
}



</script>