body {
  background: white;
  line-height:20px !important;
}

.headline{
  background-color:powderblue;
}

.banner-text{
  font-family: 'Kaushan Script', cursive;
  color:white;
  font-size: calc(14px + 6.0vw)!important;
  font-weight: bold;
  text-align: center;
  margin-top: 1.2em;
}

.banner-small-text{
  font-size: 1.5vw;
  line-height: 7em;
  font-weight: normal;
  color: cornflowerblue;
}

.header{
  width:100%;
}

img{
  height:auto;
  max-width:100%;
}

.main-content .container-fluid{
  margin-top: 30px;
  margin-bottom: 30px;
}
