<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/script.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/base.css"/>
	<title>Adopets Web</title>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
		<a class="navbar-brand" style="padding-top: 0.5rem;" href="#">
			<img src="/images/adopets.png" width="30" height="30" class="d-inline-block align-top" alt="">
			<span style="vertical-align:middle;font-weight:bold;color:white">Adopets Web</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="cursor:pointer"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Pet Adoption
					</a>
					<div class="dropdown-menu" style="width: auto;" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Search Pet</a>
						<a class="dropdown-item" href="#">Post New Adoption</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="cursor:pointer"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Pet Supplies shop
					</a>
					<div class="dropdown-menu" style="width: auto;" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">None</a>
						<a class="dropdown-item" href="#" >None</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" >Pet Service Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" >Forum</a>
				</li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<li class="nav-item displayF"><a class="nav-link" href="#"><span class="fas fa-shopping-cart"></span></a></li>
				<li class="nav-item displayF"><a class="nav-link" href="#"><span class="fas fa-comments"></span></a></li>
				<li class="nav-item displayF"><a class="nav-link" href="#"><span class="fas fa-bell"></span></a></li>
				<li class="nav-item displayT"><a class="nav-link" style="cursor:pointer" data-toggle="modal" data-target="#signInModal"><span class="fas fa-sign-in-alt"></span> Login</a></li>
			</ul>
		</div>
	</nav>
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
		<div class="modal-dialog md-model-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="signUpModalLabel">Create an account</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-signup" novalidate>
						<div class="form-label-group">
							<input type="text" id="username" class="form-control" placeholder="Username" required>
						</div>

						<div class="form-label-group">
							<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
						</div>
					
						<div class="form-label-group">
							<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						</div>

						<div class="form-label-group">
							<input type="password" id="confirmPassword" class="form-control" placeholder="Confirmed Password" required>
						</div>
	
						<button class="btn btn-primary btn-block mb-3" type="submit">Sign Up</button>
					</form>
				</div>
				<div class="modal-footer" style="justify-content: flex-start;">
					<span>Already have an account? <a style="cursor:pointer;text-decoration: underline;color:blue;" data-toggle="modal" data-target="#signInModal" data-dismiss="modal" >Sign In</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
		<div class="modal-dialog md-model-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="signInModalLabel">Login to your account</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-signin" novalidate>
						<div class="form-label-group">
							<input type="text" id="login_username" class="form-control" placeholder="Username" required>
						</div>
					
						<div class="form-label-group">
							<input type="password" id="login_password" class="form-control" placeholder="Password" required>
						</div>
					
						<div class="checkbox mb-3">
							<label>
							<input type="checkbox" value="remember-me"> Remember me
							</label>
						</div>
						<button class="btn btn-primary btn-block mb-3" type="submit">Sign in</button>
					</form>
				</div>
				<div class="modal-footer" style="justify-content: flex-start;">
					<span>Don't have an account yet? <a style="cursor:pointer;text-decoration: underline;color:blue;" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal">Sign Up</a></span>
				</div>
			</div>
		</div>
	</div>
	<section id="dynamic" class="main-content">
		<%- include(action) %>
	</section>



<!--Your own script-->
<script>
	var adoption_search_query="";
	var adopton_query_age=null;
	var adoption_post_id=null;
	var adoption_list={type:null,breed:null,gender:null,age:null};

	function dynamic(link){
		$.ajax({
			url: link,
			type: "GET",
			data: {
			},
			success: function (mes) {
				$("#dynamic").load(mes);
			},
			error: function (err) {
				alert(err);
			}
		});
	}

	(function() {
		'use strict';

		window.addEventListener('load', function() {
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var signInForms = document.getElementsByClassName('form-signin');

		// Loop over them and prevent submission
		var validation = Array.prototype.filter.call(signInForms, function(form) {
			form.addEventListener('submit', function(event) {
			if (form.checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
			}
			else if (form.checkValidity() === true){
				userSignIn();
				event.preventDefault();
			}
			form.classList.add('was-validated');
			}, false);
		});
		}, false);
	})();

	function userSignIn(){
		$.ajax({
			url: "/signin",
			type: "GET",
			data: {
				username: "('"+$(".form-signin #login_username").val()+"')",
				password: "('"+$(".form-signin #login_password").val()+"')"
			},
			success: function (mes) {
				console.log(mes);
			},
			error: function (err) {
				console.log(err);
			}
		});
		return false;
	}


	$("#user_login").click(function () {
		var register_firstname = $("#register_firstname").val() || "";
		var register_lastname = $("#register_lastname").val() || "";
		var birthdate = $("#birthdate").val() || "";
		var register_email = $("#register_email").val() || "";
		var register_mobilenumber = $("#register_mobilenumber").val() || "";
		var register_address = $("#register_address1").val()+" "+$("#register_address2").val()+" "+$("#district").val() || "";
		var register_username = $("#register_username").val() || "";
		var register_password = $("#register_password").val() || "";

		$.ajax({
			url: "/regist",
			type: "GET",
			contentType: "application/json",
			data: {
				userid: register_username,
				lastname: register_lastname,
				firstname:register_firstname,
				email: register_email,
				telnum: register_mobilenumber,
				address: register_address,
				birthday: birthdate,
				password:register_password
			},
			error: function error(err) {
				alert(err);
			},
			success: function success(mes) {
				alert(mes);
			}
		})
	})
</script>
</body>
</html>