<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/script.ejs %>
	<title>Adopets Web</title>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">
			<img src="/images/adopets.png" width="30" height="30" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<section id="dynamic" class="main-content">
		<%- include(action) %>
	</section>



<!--Your own script-->
<script>
	var adoption_search_query="";
	var adopton_query_age=null;
	var adoption_post_id=null;
	var adoption_list={type:null,breed:null,gender:null,age:null};

	function dynamic(link){
	$.ajax({
		url: link,
		type: "GET",
		data: {
		},
		success: function (mes) {
			$("#dynamic").load(mes);
		},
		error: function (err) {
			alert(err);
		}
	});
}
</script>
</body>
</html>