<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<title>You own title</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
    <!--Your own content-->
        <h2>Database Results</h2>
        
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.userid %> - <%= r.password %></li>
            <% }); %>
        </ul>
	<div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->

</body>
</html>