<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-multiselect.css"/>
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<div class="container">
	<div class="row">
		<div class="searchBox col-md-5">
			<ul class="nav nav-tabs" id="searchTab" role="tablist">
				<li class="nav-item active">
					<a class="nav-link active" data-toggle="tab" href="#direct" role="tab" aria-controls="direct">Direct Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#basic" role="tab" aria-controls="basic">Basic Search</a>
				</li>
			</ul>
				
			<div class="tab-content">
				<div class="tab-pane active" id="direct" role="tabpanel">
						<div class="input-group">
							<input type="text"  class="form-control" placeholder="What pets are you looking for?"/>
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-camera" title="Search by photo"></i>
								<i class="glyphicon glyphicon-search"></i>
							</span>
						</div>
				</div>
				<div class="tab-pane" id="basic" role="tabpanel">
					<div class="row">
						<div class="col-md-6">
							<select id="petTypes" multiple="multiple">
								<option value="birds">Birds</option>
								<option value="cat">Cat</option>
								<option value="dog">Dog</option>
								<option value="fish">Fish</option>
								<option value="reptiles">Reptiles</option>
								<option value="rodents">Rodents</option>
							</select>
						</div>
						<div class="col-md-6">
							<select id="petBreeds" multiple="multiple">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<select id="petGender" multiple="multiple">
								<option value="m">Male</option>
								<option value="f">Female</option>
							</select>
						</div>
						<div class="col-md-6">
							<select id="petAge" multiple="multiple">
								<option value="baby">Baby</option>
								<option value="young">Young</option>
								<option value="adult">Adult</option>
								<option value="senior">Senior</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label for="petSize">Pet Size:</label>
							<select id="petSize" multiple="multiple">
								<option value="s">Small</option>
								<option value="m">Medium</option>
								<option value="l">Large</option>
								<option value="xl">X-Large</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<% include ../partials/script.ejs %>
<script src="/javascript/bootstrap-multiselect.js"></script>
<script>
    $(document).ready(function() {
		$('#searchTab a:first').tab('show');
        $('#petTypes').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Pet Types',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Pet Types'
		});
		$('#petBreeds').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Breeds',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Breeds'
		});
		$('#petGender').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Gender',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'Both'
		});
		$('#petAge').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Age',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Age'
		});
		$('#petSize').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Size',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Age'
		});
    });

</script>
</body>
</html>