<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<% include ../partials/script.ejs %>
</body>
</html>