<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-multiselect.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/nouislider.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Macondo|Philosopher|Amaranth" rel="stylesheet">
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content" style="background-color: white;">
<div class="container-fluid">
	<div class="row" style="margin-left:10px;margin-right:10px;">
		<!--search Box-->
		<div class="col-md-5">
			<div class="searchBox">
				<ul class="nav nav-tabs" id="searchTab" role="tablist">
					<li class="nav-item active">
						<a class="nav-link active" data-toggle="tab" href="#direct" role="tab" aria-controls="direct">Direct Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#basic" role="tab" aria-controls="basic">Basic Search</a>
					</li>
				</ul>
					
				<div class="tab-content">
					<div class="tab-pane active" id="direct" role="tabpanel">
							<div class="input-group">
								<input type="text"  class="form-control" placeholder="What pets are you looking for?"/>
								<span class="input-group-addon">
									<input id="inputFile" type="file" onchange="encodeImageFileAsURL();" style="display:none"/><i class="fas fa-camera" title="Search by photo" style="cursor:pointer;" onclick="fileUpload()"></i>
									<i class="fas fa-search"></i>
								</span>
							</div>
							<div class="directButton">
								<div style="display:table">
									<div style="display:table-row">
										<div style="display:table-cell">
											<button type="button" class="btn btn-secondary">Birds</button>
										</div>
										<div style="display:table-cell">
											<button type="button" class="btn btn-primary">Cat</button>
										</div>
										<div style="display:table-cell">
											<button type="button" class="btn btn-success">Dog</button>
										</div>
									</div>
									<div style="display:table-row">
										<div style="display:table-cell">
											<button type="button" class="btn btn-info">Fish</button>
										</div>
										<div style="display:table-cell">
											<button type="button" style="color:white; background-color: #ffa500;" class="btn btn-warning">Reptiles</button>
										</div>
										<div style="display:table-cell">
											<button type="button" class="btn btn-danger">Rodents</button>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="tab-pane" id="basic" role="tabpanel">
						<div class="row">
							<div class="col-md-6">
								<select id="petTypes" multiple="multiple">
									<option value="bird">Birds</option>
									<option value="cat">Cat</option>
									<option value="dog">Dog</option>
									<option value="fish">Fish</option>
									<option value="reptile">Reptiles</option>
									<option value="rodent">Rodents</option>
								</select>
							</div>
							<div class="col-md-6">
								<select id="petBreeds" multiple="multiple">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<select id="petGender" multiple="multiple">
									<option value="m">Male</option>
									<option value="f">Female</option>
								</select>
							</div>
							<div class="col-md-4">
								
								<!--<select id="petAge" multiple="multiple">
									<option value="baby">Baby</option>
									<option value="young">Young</option>
									<option value="adult">Adult</option>
									<option value="senior">Senior</option>
								</select>-->
								<div class="dropdown">
									<button id="petAgeTextHolder" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;color:#555">Age<span class="caret"></span></button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<div class="ageRange" style="text-align: center;">
											<div id="petAge" style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;"></div>
											<div style="font-size: 14px;">From <span id='lower-value'></span> to <span id='upper-value'></span> years-old</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<select id="petSize" multiple="multiple">
									<option value="s">Small</option>
									<option value="m">Medium</option>
									<option value="l">Large</option>
									<option value="xl">X-Large</option>
								</select>
							</div>
						</div>
						<div class="row">
							<button type="button" class="btn btn-info">Find Pets</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-7" style="margin-top: 30px; text-align:center;">
			<div class="missionSection">
				<div>
					<h4 style="font-family: 'Amaranth', sans-serif;"> -  Our Mission  - </h4>
					<div>
						<div style="padding:25px; padding-top:10px;">Adopet Web aims to provide pet adoption service
								with comprehensive features that is convenient for all the
								individuals that intend to adopt pets. It's include:</div>

						<div class="row" style="justify-content: center;">
							<div class="col-md-2" style="padding-top: 10px;"><i class="fab fa-searchengin" style="font-size:55px;"></i><p style="font-size:15px;color: gray;font-family: 'Amaranth', sans-serif;padding-top: 10px;">Adoption</p></div>
							<div class="col-md-2" style="padding-top: 10px;"><i class="fas fa-shopping-cart" style="font-size:55px;"></i><p style="font-size:15px;color: gray;font-family: 'Amaranth', sans-serif;padding-top: 10px;">Transaction</p></div>
							<div class="col-md-2" style="padding-top: 10px;"><i class="fas fa-comments" style="font-size:55px;"></i><p style="font-size:15px;color: gray;font-family: 'Amaranth', sans-serif;padding-top: 10px;">Forum</p></div>
							<div class="col-md-2" style="padding-top: 10px;"><i class="fas fa-language" style="font-size:55px;"></i><p style="font-size:15px;color: gray;font-family: 'Amaranth', sans-serif;padding-top: 10px;">Message</p></div>
						</div>	
					
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--flexslider-->
	<div class="suggestion" style="margin-top: 30px;">
		<div class="innerBox" style="padding: 30px;">
			<div class="lineOnSlide">You May Also Interested</div>
			<div class="flexslider carousel" style="overflow:hidden">
				<ul class="slides">
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog1.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog2.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog3.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat1.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat2.png" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat3.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog1.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog2.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/dog3.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat1.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat2.png" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<img src="/images/cat3.jpg" />
							<div class="flex-caption">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div style="float:right;"><a href="/search">more >></a></div>
		</div>
	</div>

	<!--pet detail-->
	<div class="modal fade" id="petDetailModal" tabindex="-1" role="dialog" aria-labelledby="petDetailModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom:none;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="margin-bottom: 20px;">
					<div class="row" style="margin-left:0;margin-right:0;">
						<div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
							<img src="/images/cat3.jpg" />
							<div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
								<div class="col-md-12" style="margin-bottom:20px;">
									<button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
								</div>
								<div class="col-md-12">
									<button type="button" class="btn btn-primary" style="width:80%">Adopt Me</button>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
							<div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
								<div class="col-md-12 col-lg-6">
									<div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
										<div style="display:table-row;">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Pet ID
											</div>
											<div style="display:table-cell">
												001
											</div>
										</div>
										<div style="display:table-row;">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Name
											</div>
											<div style="display:table-cell">
												Name
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Age
											</div>
											<div style="display:table-cell">
												Age
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Size
											</div>
											<div style="display:table-cell">
												Small
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Coat length
											</div>
											<div style="display:table-cell">
												Medium
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-lg-6">
									<div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Post date
											</div>
											<div style="display:table-cell">
												2018/2/21
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Gender
											</div>
											<div style="display:table-cell">
												Male
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Breed type
											</div>
											<div style="display:table-cell">
												Mixed
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Neutered
											</div>
											<div style="display:table-cell">
												Yes
											</div>
										</div>
										<div style="display:table-row">
											<div style="display:table-cell; font-weight:bold;width:50%">
												Training level
											</div>
											<div style="display:table-cell">
												Basic
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
								<div class="col-md-12" style="font-weight:bold;color:blue">
									Description
								</div>
								<div class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
									Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
									
									I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
									
									My estimated birthdate is 10/1/2015.
								</div>
							</div>
							<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
								<div class="col-md-12" style="font-weight:bold;color:grey">
									Remark
								</div>
								<div class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
									None
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<% include ../partials/script.ejs %>
<script src="/javascript/bootstrap-multiselect.js"></script>
<script src="/javascript/nouislider.min.js"></script>
<script>
	$(window).bind("resize", function(){
    	$('.flexslider').flexslider(0);
	});

	$("#petTypes").change(function() {
		$("#petBreeds").empty();
		for(var i=0; i<$(this).val().length;i++){
			$("#petBreeds").load("textdata/" + $(this).val()[i] + ".txt");
		}
		$('#petBreeds').multiselect("refresh");
	});

    $(document).ready(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			animationLoop: false,
            itemWidth: 200,
			itemMargin: 15,
			start: function(){ $(".flexslider li").css("width", "200"); }
		});

		$('#searchTab a:first').tab('show');
        $('#petTypes').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Pet Types',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Pet Types',
			nSelectedText: ' Pet Types selected'
		});
		$('#petBreeds').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Breeds',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Breeds',
			nSelectedText: ' Breeds selected',
			disableIfEmpty: true,
			disabledText: 'None Breeds found'
		});
		$('#petGender').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Gender',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'Both'
		});
		/*$('#petAge').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Age',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Age'
		});*/
		$('#petSize').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 150,
			nonSelectedText: 'Size',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value',
			allSelectedText: 'All Size'
		});
        
        var nonLinearSlider = document.getElementById('petAge');

		noUiSlider.create(nonLinearSlider, {
			connect: true,
			behaviour: 'tap',
			start: [0,30],
			range: {
				'min': [0],
				'1%': [1,1],
				'max': [30]
			},
			format: {
				from: function(value) {
						return parseInt(value);
					},
				to: function(value) {
						return parseInt(value);
					}
			}

		});

		var nodes = [
			document.getElementById('lower-value'), // 0
			document.getElementById('upper-value')  // 1
		];

		// Display the slider value and how far the handle moved
		// from the left edge of the slider.
		nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
			nodes[handle].innerHTML = values[handle];
		});

		nonLinearSlider.noUiSlider.on('end', function () {
			document.getElementById('petAgeTextHolder').innerHTML = document.getElementById('lower-value').innerHTML+" to "+ document.getElementById('upper-value').innerHTML;
		});

		
	});
	
	function encodeImageFileAsURL() {
	  var base64Image="";
	  var rootImage="";
	  var stringStorage="";
  
	  var filesSelected = document.getElementById("inputFile").files;
	  if (filesSelected.length > 0) {
		var fileToLoad = filesSelected[0];
  
		var fileReader = new FileReader();
  
		fileReader.onload = function(fileLoadedEvent) {
			var srcData = fileLoadedEvent.target.result; // <--- data: base64
			var newImage = document.createElement('img');
			newImage.src = srcData;

			rootImage = newImage.outerHTML;
			base64Image=rootImage.substring(rootImage.indexOf(",")+1,rootImage.length-2);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "https://vision.googleapis.com/v1/images:annotate?key=AIzaSyC1bOumXTVe-xgDQNInDdk_V2xTPnFoie4");
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.send(JSON.stringify({"requests":[{"image":{"content":base64Image},"features": [{"type":"LABEL_DETECTION","maxResults":10}]}]}));
			//xhr.send(JSON.stringify({"requests":  [{ "features":  [ {"type": "LABEL_DETECTION"}], "image": {"content": encoded}}]}));
			xhr.onload = function() {
				var resultList=JSON.parse(xhr.response);
				for (var i=0;i<resultList.responses[0].labelAnnotations.length;i++){
					console.log(resultList.responses[0].labelAnnotations[i].description);
					stringStorage+=resultList.responses[0].labelAnnotations[i].description+"\n";
				}
				alert(stringStorage);
			}
		}
		fileReader.readAsDataURL(fileToLoad);
	  }
	}

	function fileUpload(){
		$("#inputFile").click();
	}

</script>
</body>
</html>
