<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-multiselect.css"/>
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<div class="container">
	<div class="searchBox col-md-5">
		<ul class="nav nav-tabs" id="searchTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" data-toggle="tab" href="#direct" role="tab" aria-controls="direct">Direct Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced">Advanced Search</a>
			</li>
		</ul>
			
		<div class="tab-content">
			<div class="tab-pane active" id="direct" role="tabpanel">
					<div class="input-group">
						<input type="text"  class="form-control" placeholder="What pets are you looking for?"/>
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-camera" title="Search by photo"></i>
							<i class="glyphicon glyphicon-search"></i>
						</span>
					</div>
			</div>
			<div class="tab-pane" id="advanced" role="tabpanel">
				<select id="example-getting-started" multiple="multiple">
					<option value="cheese">Cheese</option>
					<option value="tomatoes">Tomatoes</option>
					<option value="mozarella">Mozzarella</option>
					<option value="mushrooms">Mushrooms</option>
					<option value="pepperoni">Pepperoni</option>
					<option value="onions">Onions</option>
				</select>
			</div>
		</div>
	</div>
</div>
	
<% include ../partials/script.ejs %>
<script src="/javascript/bootstrap-multiselect.js"></script>
<script>
    $(document).ready(function() {
		$('#searchTab a:first').tab('show');
        $('#example-getting-started').multiselect({
			buttonWidth: '100%',
			maxHeight: 200
		});
    });

</script>
</body>
</html>