<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-multiselect.css"/>
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<div class="container">
	<div class="searchBox col-md-5">
		<ul class="nav nav-tabs" id="searchTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" data-toggle="tab" href="#direct" role="tab" aria-controls="direct">Direct Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced">Advanced Search</a>
			</li>
		</ul>
			
		<div class="tab-content">
			<div class="tab-pane active" id="direct" role="tabpanel">
					<div class="input-group">
						<input type="text"  class="form-control" placeholder="What pets are you looking for?"/>
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-camera" title="Search by photo"></i>
							<i class="glyphicon glyphicon-search"></i>
						</span>
					</div>
			</div>
			<div class="tab-pane" id="advanced" role="tabpanel">
				<label for="petTypes">Select Pet Types:</label>
				<select id="petTypes" multiple="multiple">
					<option value="birds">Birds</option>
					<option value="cat">Cat</option>
					<option value="dog">Dog</option>
					<option value="fish">Fish</option>
					<option value="reptiles">Reptiles</option>
					<option value="rodents">Rodents</option>
				</select>
				<label for="petBreeds">Select Pet Breeds:</label>
				<select id="petBreeds" multiple="multiple">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
				<label for="petGender">Select Pet Gender:</label>
				<select id="petGender" multiple="multiple">
					<option value="m">Male</option>
					<option value="f">Female</option>
				</select>
				<label for="petAge">Select Pet Age:</label>
				<select id="petAge" multiple="multiple">
					<option value="baby">Baby</option>
					<option value="young">Young</option>
					<option value="adult">Adult</option>
					<option value="senior">Senior</option>
				</select>
				<label for="petSize">Select Pet Size:</label>
				<select id="petSize" multiple="multiple">
					<option value="s">Small</option>
					<option value="m">Medium</option>
					<option value="l">Large</option>
					<option value="xl">X-Large</option>
				</select>
			</div>
		</div>
	</div>
</div>
	
<% include ../partials/script.ejs %>
<script src="/javascript/bootstrap-multiselect.js"></script>
<script>
    $(document).ready(function() {
		$('#searchTab a:first').tab('show');
        $('#petTypes').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 200,
			nonSelectedText: 'Pet Types',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
		});
		$('#petBreeds').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 200,
			nonSelectedText: 'Breeds',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
		});
		$('#petGender').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 200,
			nonSelectedText: 'Gender',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
		});
		$('#petAge').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 200,
			nonSelectedText: 'Age',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
		});
		$('#petSize').multiselect({
			buttonWidth: '100%',
			dropRight: true,
			maxHeight: 200,
			nonSelectedText: 'Size',
			includeSelectAllOption: true,
            selectAllValue: 'select-all-value'
		});
    });

</script>
</body>
</html>