<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
	<title>Adopets Web</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<div class="container">
	<div class="searchBox">
		<ul class="nav nav-tabs" id="serachTab" role="tablist">
			<li class="nav-item active">
				<a class="nav-link active" data-toggle="tab" href="#direct" role="tab" aria-controls="direct">Direct Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced">Advanced Search</a>
			</li>
		</ul>
			
		<div class="tab-content">
			<div class="tab-pane active" id="direct" role="tabpanel">
					<input id="search"><i class="material-icons">search</i>
					<div class="search-results"></div>
			</div>
			<div class="tab-pane" id="advanced" role="tabpanel">...</div>
		</div>
	</div>
</div>
	
<% include ../partials/script.ejs %>
<script>
	$(function () {
		$('#searchTab a:first').tab('show')
	})
</script>
</body>
</html>