<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/login.css" />
	<title>Login</title>
</head>

<body>
<% include ../partials/headline.ejs %>
<!-- Form Module-->
<div class="container">
	<div class="module form-module">
		<div class="toggle" style="display:block;">Sign Up Now</div>
		<div class="toggle" style="display:none;">Sign In Now</div>
		<div class="form">
			<h2>Login to your account</h2>
			<form id="login_form">
				<input type="text" placeholder="Username"  id="login_username"/>
				<input type="password" placeholder="Password" id="login_password"/>
				<button id="user_login">Login</button>
			</form>
		</div>
		<div class="form">
			<h2>Create an account</h2>
			<form id="register_form">
				<input type="text" placeholder="Username" id="register_username"/>
				<input type="password" placeholder="Password" id="register_password"/>
				<input type="confirmpassword" placeholder="Confirmed Password" id="register_confirmpassword"/>
				<input type="email" placeholder="Email Address" id="register_email"/>
				<input type="confirmemail" placeholder="Confirmed Email Address" id="register_confirmemail"/>
				<button id="register">Register</button>
			</form>
		</div>
	</div>
</div>
<% include ../partials/script.ejs %>
<script>
$( window ).load(function() {
	console.log($(location).attr('pathname')=="/register");
  if($(location).attr('pathname')=="/register"){
		$('.toggle').toggle();
		$('.form').toggle();
	}
});

//register and login form
$("#register").click(function () {
	$.ajax({
		url: "/regist",
		type: "GET",
		data: {
			username: $("#register_username").val(),
			nickname: $("#register_email").val(),
			password: $("#register_password").val()
		},
		success: function (data) { 
			alert(data);
		},
		error: function (err) {
			alert(err);
		}
	});
	return false;
});
$("#user_login").click(function () {
	$.ajax({
		url: "/signin",
		type: "GET",
		data: {
			username: $("#login_username").val(),
			password: $("#login_password").val()
		},
		success: function (data) {
			alert(data[0].username);
		},
		error: function (err) {
			alert(err);
		}
	});
	return false;
});
</script>


</body>
</html>