<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title></title>
</head>
<body>
    <div class="regist">
        <h2>注册</h2>
        <div class="inputbox">
            <input type="text" name="fullname" placeholder="  昵称" id="nikename">
            <input type="text" name="email" placeholder="  邮箱" id="email-two">
            <input type="password" name="password" placeholder="  密码" id="password-two">
        </div>
        <button id="register">注册</button>
    </div>
    <div class="login">
        <h2>登陆</h2>
        <div class="inputbox">
            <input type="text" name="email" placeholder="  邮箱" id="email-one">
            <input type="password" name="password" placeholder="  密码" id="password-one">
            <input type="text" name="authCode" placeholder="  验证码" id="authcode-one">
        </div>
        <button id="userLogin">登陆</button>
    </div>
    <script>
        $("#register").click(function () {
            $.ajax({
                url: "/regist",
                type: "GET",
                data: {
                    username: $("#email-two").val(),
                    nickname: $("#nikename").val(),
                    password: $("#password-two").val()
                },
                success: function (data) {    //    alert后台的返回值
                    alert(data);
                },
                error: function () {
                    alert('访问失败');
                }
            });
        });
        $("#userLogin").click(function () {
            $.ajax({
                url: "/signIn",
                type: "GET",
                data: {
                    username: $("#email-one").val(),
                    password: $("#password-one").val()
                },
                success: function (data) {    //    alert后台返回的参数
                    alert(data);
                },
                error: function () {
                    alert('访问失败');
                }
            });
        });
    </script>
</body>
</html>