<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/login.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css"/>
	<title>Login</title>
</head>

<body>
<% include ../partials/headline.ejs %>
<!-- Form Module-->
<section class="main-content">
	<div class="container-fluid">
		<div class="module form-module">
			<div class="toggle" style="display:block;">Sign Up Now</div>
			<div class="toggle" style="display:none;">Sign In Now</div>
			<div class="form">
				<h2>Login to your account</h2>
				<form id="login_form" autocomplete="on">

					<div class="input-group login_username">
						<div class="input-group-addon">
							<i class="fa fa-user">&nbsp;&nbsp;&nbsp;</i>
						</div>
						<input type="text" placeholder="Username"  id="login_username"/>
					</div>
					
					<div class="input-group login_password">
							<div class="input-group-addon">
								<i class="fa fa-lock">&nbsp;&nbsp;&nbsp;</i>
							</div>
						<input type="password" placeholder="Password" id="login_password"/>
					</div>
					
					<button id="user_login">Login</button>
				</form>
			</div>
			<div class="form">
				<h2>Create an account</h2>
				<form id="register_form" autocomplete="on">
					<p>Personal Information</p>
				<!--
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="input-group firstname">
								<div class="input-group-addon">
									<i class="fa fa-address-card">&nbsp;&nbsp;&nbsp;</i>
								</div>
								<input type="text" placeholder="First Name" name="register_firstname" id="register_firstname"/>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="input-group firstname">
								<div class="input-group-addon">
									<i class="fa fa-address-card">&nbsp;&nbsp;&nbsp;</i>
								</div>
								<input type="text" placeholder="Last Name" name="register_lastname" id="register_lastname"/>
							</div>
						</div>
					</div>
				-->
					<div class="form-group">
						<div class="input-group firstname">
							<div class="input-group-addon">
								<i class="fa fa-male">&nbsp;&nbsp;&nbsp;</i>
							</div>
							<input type="text" placeholder="First Name" name="register_firstname" id="register_firstname" autocomplete="on"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group firstname">
							<div class="input-group-addon">
								<i class="fa fa-male">&nbsp;&nbsp;&nbsp;</i>
							</div>
							<input type="text" placeholder="Last Name" name="register_lastname" id="register_lastname" autocomplete="on"/>
						</div>
					</div>
					<div class="form-group">
						<div id="datepicker" class="input-group date">
							<div class="input-group-addon" for="date">
								<i class="fa fa-calendar open-datetimepicker">&nbsp;&nbsp;</i>
							</div>
							<input type="text" placeholder="Birth Date" class="form-control" name="birthdate" id="birthdate" autocomplete="on"/>
						</div>
					</div>
					<br>
					<br>
					<p>Contact Information</p>
					<div class="input-group email">
						<div class="input-group-addon">
							<i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;</i>
						</div>
						<input type="email" placeholder="E-mail Address" name="register_email" id="register_email" autocomplete="on"/>
					</div>
					<div class="input-group mobilenumber">
						<div class="input-group-addon">
							<i class="fa fa-phone-square">&nbsp;&nbsp;&nbsp;</i>
						</div>
						<input type="text" placeholder="Mobile Number" name="register_mobilenumber" id="register_mobilenumber" autocomplete="on"/>
					</div>
					<br>
					<br>
				<!--
					<p>Address</p>
					<input type="text" placeholder="Address 1" name="register_address1" id="register_address1" />
					<input type="text" placeholder="Address 2" name="register_address2" id="register_address2"/>
					<select name="district" id="district" >
						<option value="none">Choose A District</option>
						<optgroup label="Hong Kong Island">
							<option value="Central and Western">Central and Western</option>
							<option value="Eastern">Eastern</option>
							<option value="Southern">Southern</option>
							<option value="Wan Chai">Wan Chai</option>
						</optgroup>
						<optgroup label="Kowloon">
							<option value="Sham Shui Po">Sham Shui Po</option>
							<option value="Kowloon City">Kowloon City</option>
							<option value="Kwun Tong">Kwun Tong</option>
							<option value="Wong Tai Sin">Wong Tai Sin</option>
							<option value="Yau Tsim Mong">Yau Tsim Mong</option>
						</optgroup>
						<optgroup label="New Territories">
							<option value="Islands">Islands</option>
							<option value="Kwai Tsing">Kwai Tsing</option>
							<option value="North">North</option>
							<option value="Sai Kung">Sai Kung</option>
							<option value="Sha Tin">Sha Tin</option>
							<option value="Tai Po">Tai Po</option>
							<option value="Tsuen Wan">Tsuen Wan</option>
							<option value="Tuen Mun">Tuen Mun</option>
							<option value="Yuen Long">Yuen Long</option>
						</optgroup>
					</select>
					<br>
					<br>
				-->
					<p>Account Information</p>
					<img id="user_image_preview" src="/images/user_image.jpg"/>
					<div class="input-group picture">
						<div class="input-group-addon">
							<i class="fa fa-camera-retro">&nbsp;&nbsp;</i>
						</div>	
						<input type="file" name="register_image" id="register_image" accept="image/*"/>
					</div>
					<div class="input-group username">
						<div class="input-group-addon">
							<i class="fa fa-user">&nbsp;&nbsp;&nbsp;</i>
						</div>				
						<input type="text" placeholder="Username" name="register_username"id="register_username" autocomplete="on"/>
					</div>
					<div class="input-group password">
						<div class="input-group-addon">
							<i class="fa fa-lock">&nbsp;&nbsp;&nbsp;</i>
						</div>
						<input type="password" placeholder="Password" name="register_password" id="register_password" autocomplete="on"/>
					</div>
					<div class="input-group confirmpassword">
							<div class="input-group-addon">
								<i class="fa fa-lock">&nbsp;&nbsp;&nbsp;</i>
							</div>
						<input type="password" placeholder="Confirmed Password" name="register_confirmpassword" id="register_confirmpassword" autocomplete="off"/>
					</div>
					<button id="register">Register</button>
				</form>
			</div>
			<div class="col-md-10" id="supply"></div>
		</div>
	</div>
</section>
<% include ../partials/script.ejs %>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/jquery.validate.min.js"></script>
<script src="/javascript/jquery-ui.min.js"></script>
<script>
$( window ).load(function() {
	console.log($(location).attr('pathname')=="/register");
  if($(location).attr('pathname')=="/register"){
		$('.toggle').toggle();
		$('.form').toggle();
	}
});

//register and login form
/*$("#register").click(function () {
	$.ajax({
		url: "/regist",
		type: "GET",
		data: {
			username: $("#register_username").val(),
			nickname: $("#register_email").val(),
			password: $("#register_password").val()
		},
		success: function (data) { 
			alert(data);
		},
		error: function (err) {
			alert(err);
		}
	});
	return false;
});*/
$("#user_login").click(function () {
	$.ajax({
		url: "/signin",
		type: "GET",
		data: {
			username: $("#login_username").val(),
			password: $("#login_password").val()
		},
		success: function (mes) {
			alert(mes);
		},
		error: function (err) {
			alert(err);
		}
	});
	return false;
});

/*
jQuery.validator.addMethod("notEqual", function(value, element, param) {
  return this.optional(element) || value != param;
}, "Please choose a district");
*/

$(function() {
    $("#birthdate").datepicker({
		maxDate: 0,
		changeMonth: true,
      	changeYear: true,
		yearRange: "-100:+0",
		showAnim: "slideDown",
		dateFormat: "yy/mm/dd",
		disableTouchKeyboard: true
	});
	$('.fa-calendar').click(function() {
		$("#birthdate").focus();
	});
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#user_image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
	$("#register_image").change(function(){
		readURL(this);
	});
	$("#register_form").validate({
		rules: {
			register_firstname: {
				required: true,
				minlength: 2
			},
			register_lastname: {
				required: true,
				minlength: 2
			},
			birthdate: {
				required: true,
				dateISO: true
			},
			register_email: {
				required: true,
				email: true
			},
			register_mobilenumber: {
				required: true, 
				rangelength: [8,8] 
			},
			/*
			register_address1: {
				required: true
			},
			district: { 
				notEqual: "Choose A District"
			},
			*/
			register_username: {
				minlength: 4,
				required: true
			},
			register_password: {
				minlength: 8,
				required: true
			},
			register_confirmpassword: { 
				equalTo: "#register_password"
			}
		},
		messages: {
			register_firstname: {
				required: "Please enter your first name",
				minlength: "Please enter a valid first name"
			},
			register_lastname: {
				required: "Please enter your last name",
				minlength: "Please enter a valid last name"
			},
			birthdate: {
				required: "Please choose your birth date",
				dateISO: "Please enter a valid date"
			},
			register_email: {
				required: "Please enter your E-mail"
			},
			register_mobilenumber: {
				required: "Please enter your mobile number", 
				rangelength: "Please enter a valid phone number" 
			},
			/*
			register_address1: {
				required: "Please enter your address"
			},
			*/
			register_username: {
				minlength: "Username must be at least 4 characters long",
				required: "Please enter your username"
			},
			register_password: {
				minlength: "Password must be at least 8 characters long",
				required: "Please enter your password"
			}
		},
		submitHandler: function () {
			var register_firstname = $("#register_firstname").val() || "";
			var register_lastname = $("#register_lastname").val() || "";
			var birthdate = $("#birthdate").val() || "";
			var register_email = $("#register_email").val() || "";
			var register_mobilenumber = $("#register_mobilenumber").val() || "";
			var register_address = $("#register_address1").val()+" "+$("#register_address2").val()+" "+$("#district").val() || "";
			var register_username = $("#register_username").val() || "";
			var register_password = $("#register_password").val() || "";

			$.ajax({
				url: "/regist",
				type: "GET",
				contentType: "application/json",
				data: {
					userid: register_username,
					lastname: register_lastname,
					firstname:register_firstname,
					email: register_email,
					telnum: register_mobilenumber,
					address: register_address,
					birthday: birthdate,
					password:register_password
				},
				complete: function complete() {
				},
				error: function error(err) {
					alert(err);
				},
				success: function success(mes) {
					alert(mes);
				}
			})
		},
		errorElement : "div"
		//errorLabelContainer: ".errorTxt"
	});
});

$("#register").click(function () {
    $("#register_form").validate({
		rules: {
			register_firstname: {
				required: true,
				minlength: 2
			},
			register_lastname: {
				required: true,
				minlength: 2
			},
			birthdate: {
				required: true,
				dateISO: true
			},
			register_email: {
				required: true,
				email: true
			},
			register_mobilenumber: {
				required: true, 
				rangelength: [8,8] 
			},
			/*
			register_address1: {
				required: true
			},
			district: { 
				notEqual: "Choose A District"
			},
			*/
			register_username: {
				minlength: 4,
				required: true
			},
			register_password: {
				minlength: 8,
				required: true
			},
			register_confirmpassword: { 
				equalTo: "#register_password"
			}
		},
		messages: {
			register_firstname: {
				required: "Please enter your first name",
				minlength: "Please enter a valid first name"
			},
			register_lastname: {
				required: "Please enter your last name",
				minlength: "Please enter a valid last name"
			},
			birthdate: {
				required: "Please choose your birth date",
				dateISO: "Please enter a valid date"
			},
			register_email: {
				required: "Please enter your E-mail"
			},
			register_mobilenumber: {
				required: "Please enter your mobile number", 
				rangelength: "Please enter a valid phone number" 
			},
			/*
			register_address1: {
				required: "Please enter your address"
			},
			*/
			register_username: {
				minlength: "Username must be at least 4 characters long",
				required: "Please enter your username"
			},
			register_password: {
				minlength: "Password must be at least 8 characters long",
				required: "Please enter your password"
			}
		},
		submitHandler: function () {
			var register_firstname = $("#register_firstname").val() || "";
			var register_lastname = $("#register_lastname").val() || "";
			var birthdate = $("#birthdate").val() || "";
			var register_email = $("#register_email").val() || "";
			var register_mobilenumber = $("#register_mobilenumber").val() || "";
			var register_address = $("#register_address1").val()+" "+$("#register_address2").val()+" "+$("#district").val() || "";
			var register_username = $("#register_username").val() || "";
			var register_password = $("#register_password").val() || "";

			$.ajax({
				url: "/regist",
				type: "GET",
				contentType: "application/json",
				data: {
					userid: register_username,
					lastname: register_lastname,
					firstname:register_firstname,
					email: register_email,
					telnum: register_mobilenumber,
					address: register_address,
					birthday: birthdate,
					password:register_password
				},
				complete: function complete() {
				},
				error: function error(err) {
					alert(err);
				},
				success: function success(mes) {
					alert(mes);
				}
			})
		},
		errorElement : "div"
		//errorLabelContainer: ".errorTxt"
	});
});
</script>


</body>
</html>