<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<title>Post new Adoption</title>
	<style>
			
	</style>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
	<!--Your own content-->
		<div class="row" style="padding:30px; max-width: 1000px;margin: 0 auto; border: 1px solid lightgray;">
			<div class="col-md-12">
			<h4 class="mb-4 text-info">Post New Adoption</h4>
			<form class="needs-validation" novalidate>
				<div class="form-group mb-4">
					<label for="inputPassword" class="col-form-label"><span style="color:red">* </span>Pet Image</label>
					<div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="image" accept=".png, .jpg, .jpeg" required>
							<label class="custom-file-label" for="image">Choose Image...</label>
							<div class="invalid-feedback">
								Pet Image is required.
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-left: -15px;">
					<div class="col-md-6 mb-4">
						<label for="petname"><span style="color:red">* </span>Pet Name</label>
						<input type="text" class="form-control" id="petname" placeholder="" value="" required>
						<div class="invalid-feedback">
							Pet name is required.
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<label for="gender"><span style="color:red">* </span>Gender</label>
						<select class="custom-select d-block w-100" id="gender" required>
							<option value="">Choose Gender...</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="bisexual">Bisexual</option>
						</select>
						<div class="invalid-feedback">
							Please provide a valid gender.
						</div>
					</div>
				</div>

				<div class="row" style="margin-left: -15px;">
					<div class="col-md-6">
						<label for="age"><span style="color:red">* </span>Age<span class="text-muted"> (Example: 2 years and 11 months)</span></label>
						<div class="row" style="margin-left: -15px;">
							<div class="col-md-6 mb-4">
								<input class="form-control" type="number" id="age" min="0" max="100" placeholder="Years" value="" required>
								<div class="invalid-feedback">
									Please provide a valid years.
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<input class="form-control" type="number" id="age" min="0" max="12" placeholder="Months" value="" required>
								<div class="invalid-feedback">
									Please provide a valid months.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<label for="neutered"><span style="color:red">* </span>Neutered</label>
						<select class="custom-select d-block w-100" id="neutered" required>
							<option value="">Choose Neutered...</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						<div class="invalid-feedback">
							Please provide a valid selection.
						</div>
					</div>
				</div>

				<div class="row" style="margin-left: -15px;">
					<div class="col-md-6 mb-4">
						<label for="type"><span style="color:red">* </span>Pet Type</label>
						<select class="custom-select d-block w-100" id="type" required>
						<option value="">Choose Pet Type...</option>
							<option value="bird">Birds</option>
							<option value="cat">Cat</option>
							<option value="dog">Dog</option>
							<option value="fish">Fish</option>
							<option value="reptile">Reptiles</option>
							<option value="rodent">Rodents</option>
						</select>
						<div class="invalid-feedback">
							Please select a valid pet Type.
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<label for="breed"><span style="color:red">* </span>Pet Breed</label>
						<select class="custom-select d-block w-100" id="breed" required>
							<option value="" disabled selected>Choose Pet Breed...</option>
						</select>
						<div class="invalid-feedback">
							Please provide a valid pet breed.
						</div>
					</div>
				</div>

				<div class="row" style="margin-left: -15px;">
					<div class="col-md-6 mb-4">
						<label for="size"><span style="color:red">* </span>Pet size</label>
						<select class="custom-select d-block w-100" id="size" required>
						<option value="">Choose Pet size...</option>
							<option value="small">Small</option>
							<option value="medium">Medium</option>
							<option value="large">Large</option>
							<option value="x-large">X-Large</option>
						</select>
						<div class="invalid-feedback">
							Please select a valid pet size.
						</div>
					</div>
					<div class="col-md-6 mb-4">
						<label for="coat"><span style="color:red">* </span>Coat length</label>
						<select class="custom-select d-block w-100" id="coat" required>
							<option value="">Choose Coat length...</option>
							<option value="haireless">Hairless</option>
							<option value="short">Short</option>
							<option value="medium">Medium</option>
							<option value="long">Long</option>
							<option value="super-long">Super Long</option>
						</select>
						<div class="invalid-feedback">
							Please provide a valid coat length.
						</div>
					</div>
				</div>

				<div class="mb-4">
					<label for="description">Description<span class="text-muted"> (Optional)</span></label>
					<textarea class="form-control" id="description" rows="5"></textarea>
				</div>

				<div class="mb-5">
					<label for="remark">Remark<span class="text-muted"> (Optional)</span></label>
					<textarea class="form-control" id="remark" rows="3"></textarea>
				</div>
				<div style="text-align:center;">
					<button class="btn btn-primary btn-md" type="submit" style="width: 200px;">Submit</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->
<script src="/javascript/adoption.js"></script>
<script>
	var newImage;

	function encodeImageFileAsURL(callback) {
		var filesSelected = document.getElementById("image").files;
		var fileToLoad = filesSelected[0];
		var fileReader = new FileReader();
		var newImage = document.createElement('img');
		fileReader.onload = function(fileLoadedEvent) {
			var srcData = fileLoadedEvent.target.result; // <--- data: base64
			newImage = document.createElement('img');
			newImage.src = srcData;
			callback();
		}
		fileReader.readAsDataURL(fileToLoad);
	}

	function updateDatabase(){
		console.log(newImage.outerHTML);
		console.log($('#petname').val());
		console.log($('#gender').val());
		console.log($('#age').val());
		console.log($('#neutered').val());
		console.log($('#type').val());
		console.log($('#breed').val());
		console.log($('#size').val());
		console.log($('#coat').val());
		console.log($('#description').val());
		console.log($('#remark').val());
	}

	(function() {
		'use strict';

		window.addEventListener('load', function() {
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.getElementsByClassName('needs-validation');

		// Loop over them and prevent submission
		var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
			if (form.checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
			}
			else if (form.checkValidity() === true){
				encodeImageFileAsURL( function(){
					updateDatabase();
				});
				event.preventDefault();
			}
			form.classList.add('was-validated');
			}, false);
		});
		}, false);
	})();

	var choosebreed="<option value='' disabled selected>Choose Pet Breed...</option>";

	$('#type').change(function(){
		$('#breed').empty();
		if ($(this).val()){
			switch($(this).val()){
				case "bird":$('#breed').append(choosebreed+bird);break;
				case "cat":$('#breed').append(choosebreed+cat);break;
				case "dog":$('#breed').append(choosebreed+dog);break;
				case "fish":$('#breed').append(choosebreed+fish);break;
				case "reptile":$('#breed').append(choosebreed+reptile);break;
				case "rodent":$('#breed').append(choosebreed+rodent);break;
			}
		}
		else $('#breed').append(choosebreed);
	});

	$('.custom-file-input').on('change',function(){
		var fileName=($(this).val()).replace("C:\\fakepath\\", "");
		$(this).next('.custom-file-label').html(fileName);
	})
</script>

</body>
</html>