<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/petSearch.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-multiselect.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/nouislider.min.css"/>
	<title>Pet Search Result</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
		<div class="row" style="margin: 0 auto;">
			
			<div class="col-lg-3">
				<h5 class="my-3 text-info lg">Search & Filter</h5>
				<h5 class="my-3 text-info sm" onclick="listToggle()">Search & Filter<i id="chevron" class="fas fa-chevron-down" style="float:right"></i></h5>
				<div class="list-group filter">
					<div class="list-group-item list-group-item-action flex-column align-items-start">
						<label for="order">Order by:</label>
						<select class="custom-select d-block w-100" id="order" required>
							<option value="date" selected>Post Date</option>
							<option value="name">Name</option>
							<option value="age">Age</option>
						</select>
					</div>
					<div class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="input-group autocomplete">
							<input type="text" id="auto_complete" class="form-control" placeholder="Search..."/>
							<span class="input-group-addon">
								<input id="inputFile" type="file" accept=".png, .jpg, .jpeg" onchange="encodeImageFileAsURL();" style="display:none"/><i class="fas fa-camera" title="Search by photo" style="cursor:pointer;" onclick="fileUpload()"></i>
								<i class="fas fa-search" style="cursor:pointer;" onclick="searchByKey()"></i>
							</span>
						</div>
					</div>
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div>
							<select id="petTypes" multiple="multiple">
								<option value="bird">Birds</option>
								<option value="cat">Cat</option>
								<option value="dog">Dog</option>
								<option value="fish">Fish</option>
								<option value="reptile">Reptiles</option>
								<option value="rodent">Rodents</option>
							</select>
						</div>
						<div>
							<select id="petBreeds" multiple="multiple">
							</select>
						</div>
						<div>
							<select id="petGender" multiple="multiple">
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="bisexual">Bisexual</option>
							</select>
						</div>
						<div class="dropdown">
							<button id="petAgeTextHolder" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;">Age<span class="caret"></span></button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="ageRange" style="text-align: center;">
									<div id="petAge" style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;"></div>
									<div style="font-size: 14px;">From <span id='lower-value'></span> to <span id='upper-value'></span> years-old</div>
								</div>
							</div>
						</div>
						<div>
							<select id="petSize" multiple="multiple">
								<option value="small">Small</option>
								<option value="medium">Medium</option>
								<option value="large">Large</option>
								<option value="x-large">X-Large</option>
							</select>
						</div>
						<div>
							<select id="neutered" multiple="multiple">
								<option value="true">Neutered</option>
								<option value="false">Not neutered</option>
							</select>
						</div>
						<div>
							<select id="coat" multiple="multiple">
								<option value="haireless">Hairless</option>
								<option value="short">Short</option>
								<option value="medium">Medium</option>
								<option value="long">Long</option>
								<option value="super-long">Super Long</option>
							</select>
						</div>
						<button type="button" class="btn btn-primary btn-block filterSubmit" onclick="findPet()">Search / Filter</button>
					</div>
				</div>
	
			</div>
			<!-- /.col-lg-3 -->
	
			<div class="col-lg-9">
	
				<div id="petSearchResult" class="row mt-4" style="margin: 0 auto;">
					<!--<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>-->
				</div>
				<ul id="pagination" class="pagination justify-content-center" style="display:none">
					<li id="previous" class="page-item">
						<a class="page-link" aria-label="Previous" onclick="pagePet(-2)">
						<span aria-hidden="true">«</span>
						<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" aria-label="Next" onclick="pagePet(-1)">
						<span aria-hidden="true">»</span>
						<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
				
				<!--pet detail-->
				<div class="modal fade" id="petDetailModal" tabindex="-1" role="dialog" aria-labelledby="petDetailModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header" style="border-bottom:none;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style="margin-bottom: 20px;">
								<div class="row" style="margin-left:0;margin-right:0;">
									<div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
										<a id="modal_petImage"><img src="/images/cat3.jpg" /></a>
										<div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
											<div class="col-md-12" style="margin-bottom:20px;">
												<button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
											</div>
											<div class="col-md-12">
												<button type="button" class="btn btn-primary" style="width:80%">Adopt Me</button>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
										<div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
											<div class="col-md-12 col-lg-6">
												<div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
													<div style="display:table-row;">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Pet ID
														</div>
														<div id="modal_petId" style="display:table-cell">
															001
														</div>
													</div>
													<div style="display:table-row;">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Name
														</div>
														<div id="modal_petName" style="display:table-cell">
															Name
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Age
														</div>
														<div id="modal_petAge" style="display:table-cell">
															Age
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Size
														</div>
														<div id="modal_petSize" style="display:table-cell">
															Small
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Coat length
														</div>
														<div id="modal_petCoat" style="display:table-cell">
															Medium
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12 col-lg-6">
												<div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Post date
														</div>
														<div id="modal_petPostDate" style="display:table-cell">
															2018/2/21
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Gender
														</div>
														<div id="modal_petGender" style="display:table-cell">
															Male
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Breed type
														</div>
														<div id="modal_petBreed" style="display:table-cell">
															Mixed
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Neutered
														</div>
														<div id="modal_petNeutered" style="display:table-cell">
															Yes
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:40%">
															Provider
														</div>
														<div id="modal_petProvider" style="display:table-cell">
															yy0234
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
											<div class="col-md-12" style="font-weight:bold;color:blue">
												Description
											</div>
											<div id="modal_petDescription" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
												Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
												
												I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
												
												My estimated birthdate is 10/1/2015.
											</div>
										</div>
										<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
											<div class="col-md-12" style="font-weight:bold;color:grey">
												Remark
											</div>
											<div id="modal_petRemark" class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
												None
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	<div>
</section>




<% include ../partials/script.ejs %>

<!--Your own script-->
<script src="/javascript/adoption.js"></script>
<script src="/javascript/bootstrap-multiselect.js"></script>
<script src="/javascript/nouislider.min.js"></script>

<script>
var petData;
var current_page =1;
var total_page=0;

$('#petTypes').change(function(){
	$('#petBreeds').empty();
	if ($(this).val()){
			for (var i=0; i<$(this).val().length;i++){
				switch($(this).val()[i]){
					case "bird":$('#petBreeds').append(bird);break;
					case "cat":$('#petBreeds').append(cat);break;
					case "dog":$('#petBreeds').append(dog);break;
					case "fish":$('#petBreeds').append(fish);break;
					case "reptile":$('#petBreeds').append(reptile);break;
					case "rodent":$('#petBreeds').append(rodent);break;
				}
			}
	}
	$('#petBreeds').multiselect('rebuild');
});


$("#order").change(function(){
	if ($("#order").val()=="name"){
		petData.responseJSON.sort(function(a, b){
			var x = a.name.toLowerCase();
			var y = b.name.toLowerCase();
			if (x < y) {return -1;}
			if (x > y) {return 1;}
			return 0;
		});
	}
	else if ($("#order").val()=="age"){
		petData.responseJSON.sort(function(a, b){
			var x = parseInt(a.age.split(" ")[0]);
			var y = parseInt(b.age.split(" ")[0]);
			if (x < y) {return -1;}
			if (x > y) {return 1;}
			var a=parseInt(a.age.split(" ")[3]);
			var b=parseInt(b.age.split(" ")[3]);
			if (a < b) {return -1;}
			if (a > b) {return 1;}
			return 0;
		});
	}

	else if ($("#order").val()=="date"){
		petData.responseJSON.sort(function(a, b){
			return -(new Date(a.postdate) - new Date(b.postdate));
		});
	}

	$("#petSearchResult").html("");

	if (petData.responseJSON.length>12){
		for (var i=0; i<12;i++){
			$("#petSearchResult").append("\
				<div class=\"col-lg-4 col-md-6 mb-4\">\
					<div class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
						<div class=\"card h-100\">\
							<a id=\"pet_image\">"+petData.responseJSON[i].peturl+"</a>\
							<div class=\"card-body\">\
								<div style=\"display:table\">\
									<div style=\"display:table-row\">\
										<div class=\"captionName\" style=\"display:table-cell\">"+petData.responseJSON[i].name+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].age+"</div>\
									</div>\
										<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].gender+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionBreeds\" style=\"display:table-cell\">"+petData.responseJSON[i].breed+"</div>\
									</div>\
								</div>\
							</div>\
						</div>\
					</div>\
				</div>")
		}
		$('#page'+current_page).css("background-color","white");
		current_page=1;
		$('#page'+current_page).css("background-color","gainsboro");
	}
	else{
		petData.responseJSON.forEach(function(element,index) {
			$("#petSearchResult").append("\
				<div class=\"col-lg-4 col-md-6 mb-4\">\
					<div class=\"overlay\" onclick=\"changeModal("+index+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
						<div class=\"card h-100\">\
							<a id=\"pet_image\">"+element.peturl+"</a>\
							<div class=\"card-body\">\
								<div style=\"display:table\">\
									<div style=\"display:table-row\">\
										<div class=\"captionName\" style=\"display:table-cell\">"+element.name+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+element.age+"</div>\
									</div>\
										<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+element.gender+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionBreeds\" style=\"display:table-cell\">"+element.breed+"</div>\
									</div>\
								</div>\
							</div>\
						</div>\
					</div>\
				</div>")
		});
	}
});

function callAjax(Query,age){
	petData= $.ajax({
		url: "/listPet",
		type: "GET",
		data: {
			query:Query,
		},
		success: function (mes) {
			if (age!=null){
				var min_age=parseInt(age.split(" ")[0]);
				var max_age=parseInt(age.split(" ")[2]);
				for (var i=0;i<mes.length;i++){
					var mes_age=parseInt(mes[i].age.split(" ")[0]);
					if ((mes_age<min_age)||(mes_age>max_age)){
						mes.splice(i,1);
						i--;
					}
				}
			}
			$("#petSearchResult").html("");
			if (mes.length>12){
				for (var i=0; i<12;i++){
					$("#petSearchResult").append("\
						<div class=\"col-lg-4 col-md-6 mb-4\">\
							<div class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
								<div class=\"card h-100\">\
									<a id=\"pet_image\">"+mes[i].peturl+"</a>\
									<div class=\"card-body\">\
										<div style=\"display:table\">\
											<div style=\"display:table-row\">\
												<div class=\"captionName\" style=\"display:table-cell\">"+mes[i].name+"</div>\
											</div>\
											<div style=\"display:table-row\">\
												<div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].age+"</div>\
											</div>\
												<div style=\"display:table-row\">\
												<div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].gender+"</div>\
											</div>\
											<div style=\"display:table-row\">\
												<div class=\"captionBreeds\" style=\"display:table-cell\">"+mes[i].breed+"</div>\
											</div>\
										</div>\
									</div>\
								</div>\
							</div>\
						</div>")
				}
				if (total_page!=0)
					for (var i=1;i<=total_page;i++)
						$("#page"+i).remove();
				$("#pagination").css('display','flex');
				total_page=Math.ceil(mes.length/12);
				for (var i=total_page;i>0;i--)
					$("<li class=\"page-item\"><a id=\"page"+i+"\" class=\"page-link\" onclick=\"pagePet("+i+")\">"+i+"</a></li>").insertAfter("#previous");
				$('#page'+current_page).css("background-color","gainsboro");
			}
			else{
				mes.forEach(function(element,index) {
					$("#petSearchResult").append("\
						<div class=\"col-lg-4 col-md-6 mb-4\">\
							<div class=\"overlay\" onclick=\"changeModal("+index+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
								<div class=\"card h-100\">\
									<a id=\"pet_image\">"+element.peturl+"</a>\
									<div class=\"card-body\">\
										<div style=\"display:table\">\
											<div style=\"display:table-row\">\
												<div class=\"captionName\" style=\"display:table-cell\">"+element.name+"</div>\
											</div>\
											<div style=\"display:table-row\">\
												<div class=\"captionDescription\" style=\"display:table-cell\">"+element.age+"</div>\
											</div>\
												<div style=\"display:table-row\">\
												<div class=\"captionDescription\" style=\"display:table-cell\">"+element.gender+"</div>\
											</div>\
											<div style=\"display:table-row\">\
												<div class=\"captionBreeds\" style=\"display:table-cell\">"+element.breed+"</div>\
											</div>\
										</div>\
									</div>\
								</div>\
							</div>\
						</div>")
				});
				if (total_page!=0)
					for (var i=1;i<=total_page;i++)
						$("#page"+i).remove();
				$("#pagination").css('display','none');
				total_page=0;
			}
			document.getElementById('order').value="date";
			return mes;
		},
		error: function (err) {
			return err;
		}
	});
}

function listToggle(){
	$("#chevron").toggleClass("fa-chevron-up fa-chevron-down")
	$(".filter").toggleClass("open")
}

function changeModal(elementNo){
	var petData_element=petData.responseJSON[elementNo];
	$("#modal_petImage").html(petData_element.peturl);
	$("#modal_petId").html(petData_element.petid);
	$("#modal_petName").html(petData_element.name);
	$("#modal_petAge").html(petData_element.age);
	$("#modal_petSize").html(petData_element.size);
	$("#modal_petCoat").html(petData_element.coat);
	var d=new Date(petData_element.postdate);
	$("#modal_petPostDate").html(d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear());
	$("#modal_petGender").html(petData_element.gender);
	$("#modal_petBreed").html(petData_element.breed);
	if (petData_element.neutered==true)
		$("#modal_petNeutered").html("Yes");
	else $("#modal_petNeutered").html("No");
	$("#modal_petProvider").html(petData_element.providerid);
	$("#modal_petDescription").html(petData_element.description);
	$("#modal_petRemark").html(petData_element.remark);

}

function pagePet(pageNo){
	var static_pageNo=pageNo;
	if (pageNo==-2){
		if (current_page==1){
			return;
		}
		static_pageNo=current_page-1;
	}
	else if (pageNo==-1){
		if (current_page==total_page){
			return;
		}
		static_pageNo=current_page+1;
	}
	$("#petSearchResult").html("");
	var page_no=(static_pageNo-1)*12;
	if (petData.responseJSON.length>(page_no+12)){
		for (var i=page_no;i<page_no+12;i++){
			$("#petSearchResult").append("\
				<div class=\"col-lg-4 col-md-6 mb-4\">\
					<div class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
						<div class=\"card h-100\">\
							<a id=\"pet_image\">"+petData.responseJSON[i].peturl+"</a>\
							<div class=\"card-body\">\
								<div style=\"display:table\">\
									<div style=\"display:table-row\">\
										<div class=\"captionName\" style=\"display:table-cell\">"+petData.responseJSON[i].name+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].age+"</div>\
									</div>\
										<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].gender+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionBreeds\" style=\"display:table-cell\">"+petData.responseJSON[i].breed+"</div>\
									</div>\
								</div>\
							</div>\
						</div>\
					</div>\
				</div>")
		}
	}
	else{
		for (var i=page_no;i<petData.responseJSON.length;i++){
			$("#petSearchResult").append("\
				<div class=\"col-lg-4 col-md-6 mb-4\">\
					<div class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
						<div class=\"card h-100\">\
							<a id=\"pet_image\">"+petData.responseJSON[i].peturl+"</a>\
							<div class=\"card-body\">\
								<div style=\"display:table\">\
									<div style=\"display:table-row\">\
										<div class=\"captionName\" style=\"display:table-cell\">"+petData.responseJSON[i].name+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].age+"</div>\
									</div>\
										<div style=\"display:table-row\">\
										<div class=\"captionDescription\" style=\"display:table-cell\">"+petData.responseJSON[i].gender+"</div>\
									</div>\
									<div style=\"display:table-row\">\
										<div class=\"captionBreeds\" style=\"display:table-cell\">"+petData.responseJSON[i].breed+"</div>\
									</div>\
								</div>\
							</div>\
						</div>\
					</div>\
				</div>")
		}
	}
	$('#page'+current_page).css("background-color","white");
	current_page=static_pageNo;
	$("#page"+current_page).css("background-color","gainsboro");
}

function findPet(){
	var searchQuery="";
	var temp="";
	if ($("#petTypes").val()!=null){
		temp="";
		for (var i=0;i<$("#petTypes").val().length;i++){
			temp+="'"+$("#petTypes").val()[i]+"',"
		}
		temp=temp.substring(0,temp.length-1);
		console.log(temp);

		searchQuery+=" AND type IN("+temp+")";
	}
	if ($("#petBreeds").val()!=null){
		temp="";
		for (var i=0;i<$("#petBreeds").val().length;i++){
			temp+="'"+$("#petBreeds").val()[i]+"',"
		}
		temp=temp.substring(0,temp.length-1);

		searchQuery+=" AND breed IN("+temp+")";
	}

	if ($("#petGender").val()!=null){
		temp="";
		for (var i=0;i<$("#petGender").val().length;i++){
			temp+="'"+$("#petGender").val()[i]+"',"
		}
		temp=temp.substring(0,temp.length-1);

		searchQuery+=" AND gender IN("+temp+")";
	}

	if ($("#petSize").val()!=null){
		temp="";
		for (var i=0;i<$("#petSize").val().length;i++){
			temp+="'"+$("#petSize").val()[i]+"',"
		}
		temp=temp.substring(0,temp.length-1);

		searchQuery+=" AND size IN("+temp+")";
	}

	if ($("#neutered").val()!=null)
		searchQuery+=" AND neutered IN("+$("#neutered").val()+")";

	if ($("#coat").val()!=null){
		temp="";
		for (var i=0;i<$("#coat").val().length;i++){
			temp+="'"+$("#coat").val()[i]+"',"
		}
		temp=temp.substring(0,temp.length-1);

		searchQuery+=" AND coat IN("+temp+")";
	}

	if ($("#petAgeTextHolder").text()!="Age")
		callAjax(searchQuery,$("#petAgeTextHolder").text());
	else callAjax(searchQuery,null);

}

function searchByKey(){
	var keyword=$("#auto_complete").val().toLowerCase();
	var searchQuery=" AND (petid||name||type||breed||gender||age||postdate||size||coat) LIKE '%"+keyword+"%'";
	callAjax(searchQuery,null);
}

$(document).ready(function() {
	$('.flexslider').flexslider({
		animation: "slide",
		animationLoop: false,
		itemWidth: 200,
		itemMargin: 15,
		start: function(){ $(".flexslider li").css("width", "200"); }
	});

	$('#searchTab a:first').tab('show');
	$('#petTypes').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Pet Types',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'All Pet Types',
		nSelectedText: ' Pet Types selected'
	});
	$('#petBreeds').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 200,
		nonSelectedText: 'Breeds',
		includeSelectAllOption: false,
		selectAllValue: 'select-all-value',
		allSelectedText: 'All Breeds',
		nSelectedText: ' Breeds selected',
		enableClickableOptGroups:true,
		disableIfEmpty: true
	});
	$('#petGender').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Gender',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'Both'
	});
	/*$('#petAge').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Age',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'All Age'
	});*/
	$('#petSize').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Size',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'All Size'
	});

	$('#neutered').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Neutered',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'Both'
	});

	$('#coat').multiselect({
		buttonWidth: '100%',
		dropRight: true,
		maxHeight: 150,
		nonSelectedText: 'Coat Length',
		includeSelectAllOption: true,
		selectAllValue: 'select-all-value',
		allSelectedText: 'All Coat Length',
		nSelectedText: ' Coat Length selected',
	});
	
	var nonLinearSlider = document.getElementById('petAge');

	noUiSlider.create(nonLinearSlider, {
		connect: true,
		behaviour: 'tap',
		start: [0,30],
		range: {
			'min': [0],
			'1%': [1,1],
			'max': [30]
		},
		format: {
			from: function(value) {
					return parseInt(value);
				},
			to: function(value) {
					return parseInt(value);
				}
		}

	});

	var nodes = [
		document.getElementById('lower-value'), // 0
		document.getElementById('upper-value')  // 1
	];

	// Display the slider value and how far the handle moved
	// from the left edge of the slider.
	nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
		nodes[handle].innerHTML = values[handle];
	});

	nonLinearSlider.noUiSlider.on('end', function () {
		document.getElementById('petAgeTextHolder').innerHTML = document.getElementById('lower-value').innerHTML+" to "+ document.getElementById('upper-value').innerHTML;
	});
	  
	autocomplete(document.getElementById("auto_complete"), pet_auto);

	petData= $.ajax({
					url: "/listPet",
					type: "GET",
					data: {
						query:"",
					},
					success: function (mes) {
						if (mes.length>12){
							for (var i=0; i<12;i++){
								$("#petSearchResult").append("\
									<div class=\"col-lg-4 col-md-6 mb-4\">\
										<div class=\"overlay\" onclick=\"changeModal("+i+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
											<div class=\"card h-100\">\
												<a id=\"pet_image\">"+mes[i].peturl+"</a>\
												<div class=\"card-body\">\
													<div style=\"display:table\">\
														<div style=\"display:table-row\">\
															<div class=\"captionName\" style=\"display:table-cell\">"+mes[i].name+"</div>\
														</div>\
														<div style=\"display:table-row\">\
															<div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].age+"</div>\
														</div>\
															<div style=\"display:table-row\">\
															<div class=\"captionDescription\" style=\"display:table-cell\">"+mes[i].gender+"</div>\
														</div>\
														<div style=\"display:table-row\">\
															<div class=\"captionBreeds\" style=\"display:table-cell\">"+mes[i].breed+"</div>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>\
									</div>")
							}
							$("#pagination").css('display','flex');
							total_page=Math.ceil(mes.length/12);
							for (var i=total_page;i>0;i--)
								$("<li class=\"page-item\"><a id=\"page"+i+"\" class=\"page-link\" onclick=\"pagePet("+i+")\">"+i+"</a></li>").insertAfter("#previous");
							$('#page'+current_page).css("background-color","gainsboro");
						}
						else{
							mes.forEach(function(element,index) {
								$("#petSearchResult").append("\
									<div class=\"col-lg-4 col-md-6 mb-4\">\
										<div class=\"overlay\" onclick=\"changeModal("+index+")\" data-toggle=\"modal\" data-target=\"#petDetailModal\">\
											<div class=\"card h-100\">\
												<a id=\"pet_image\">"+element.peturl+"</a>\
												<div class=\"card-body\">\
													<div style=\"display:table\">\
														<div style=\"display:table-row\">\
															<div class=\"captionName\" style=\"display:table-cell\">"+element.name+"</div>\
														</div>\
														<div style=\"display:table-row\">\
															<div class=\"captionDescription\" style=\"display:table-cell\">"+element.age+"</div>\
														</div>\
															<div style=\"display:table-row\">\
															<div class=\"captionDescription\" style=\"display:table-cell\">"+element.gender+"</div>\
														</div>\
														<div style=\"display:table-row\">\
															<div class=\"captionBreeds\" style=\"display:table-cell\">"+element.breed+"</div>\
														</div>\
													</div>\
												</div>\
											</div>\
										</div>\
									</div>")
							});
							$("#pagination").css('display','none');
						}
						return mes;
					},
					error: function (err) {
						return err;
					}
				});
			});

function encodeImageFileAsURL() {
	var base64Image="";
	var rootImage="";
	var stringStorage="";

	var filesSelected = document.getElementById("inputFile").files;
	if (filesSelected.length > 0) {
	var fileToLoad = filesSelected[0];

	var fileReader = new FileReader();

	fileReader.onload = function(fileLoadedEvent) {
		var srcData = fileLoadedEvent.target.result; // <--- data: base64
		var newImage = document.createElement('img');
		newImage.src = srcData;

		rootImage = newImage.outerHTML;
		base64Image=rootImage.substring(rootImage.indexOf(",")+1,rootImage.length-2);
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "https://vision.googleapis.com/v1/images:annotate?key=AIzaSyC1bOumXTVe-xgDQNInDdk_V2xTPnFoie4");
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({"requests":[{"image":{"content":base64Image},"features": [{"type":"LABEL_DETECTION","maxResults":8}]}]}));
		//xhr.send(JSON.stringify({"requests":  [{ "features":  [ {"type": "LABEL_DETECTION"}], "image": {"content": encoded}}]}));
		xhr.onload = function() {
			var resultList=JSON.parse(xhr.response);
			for (var i=0;i<resultList.responses[0].labelAnnotations.length;i++){
				stringStorage+="'"+resultList.responses[0].labelAnnotations[i].description+"',";
			}
			stringStorage=stringStorage.substring(0,stringStorage.length-1);
			var searchQuery=" AND breed in ("+stringStorage+")";
			console.log(searchQuery);
			callAjax(searchQuery,null);
		}
	}
	fileReader.readAsDataURL(fileToLoad);
	}
}

function fileUpload(){
	$("#inputFile").click();
}
</script>

</body>
</html>