<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/petSearch.css"/>
	<title>Pet Search Result</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
		<div class="row" style="margin: 0 auto;">
			
			<div class="col-lg-3">
	
				<h4 class="my-4 text-info">Search filter</h4>
				<div class="list-group">
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small>3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small>Donec id elit non mi porta.</small>
					</div>
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</div>
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</div>
				</div>
	
			</div>
			<!-- /.col-lg-3 -->
	
			<div class="col-lg-9">
	
				<div class="row mt-4" style="margin: 0 auto;">
	
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
		
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
		
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
		
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
		
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
		
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
							<div class="card-body">
								<div style="display:table">
									<div style="display:table-row">
										<div class="captionName" style="display:table-cell">Name</div>
									</div>
									<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
									</div>
										<div style="display:table-row">
										<div class="captionDescription" style="display:table-cell">Female</div>
									</div>
									<div style="display:table-row">
										<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	<div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->

</body>
</html>