<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/pages/petSearch.css"/>
	<title>Pet Search Result</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
		<div class="row" style="margin: 0 auto;">
			
			<div class="col-lg-3">
	
				<h4 class="my-4 text-info">Search filter</h4>
				<div class="list-group">
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small>3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small>Donec id elit non mi porta.</small>
					</div>
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</div>
					<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">List group item heading</h5>
						<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</div>
				</div>
	
			</div>
			<!-- /.col-lg-3 -->
	
			<div class="col-lg-9">
	
				<div class="row mt-4" style="margin: 0 auto;">
	
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="overlay" data-toggle="modal" data-target="#petDetailModal">
							<div class="card h-100">
								<a><img class="card-img-top" src="/images/cat3.jpg" alt=""></a>
								<div class="card-body">
									<div style="display:table">
										<div style="display:table-row">
											<div class="captionName" style="display:table-cell">Name</div>
										</div>
										<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">2 years and 11 months</div>
										</div>
											<div style="display:table-row">
											<div class="captionDescription" style="display:table-cell">Female</div>
										</div>
										<div style="display:table-row">
											<div class="captionBreeds" style="display:table-cell">Rat Terrier</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">«</span>
						<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">»</span>
						<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
				
				<!--pet detail-->
				<div class="modal fade" id="petDetailModal" tabindex="-1" role="dialog" aria-labelledby="petDetailModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header" style="border-bottom:none;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style="margin-bottom: 20px;">
								<div class="row" style="margin-left:0;margin-right:0;">
									<div class="col-md-5 col-lg-4" style="text-align:center;margin-top:10px;margin-bottom:10px;">
										<img src="/images/cat3.jpg" />
										<div class="row" style="margin-left:0;margin-right:0;margin-top:40px">
											<div class="col-md-12" style="margin-bottom:20px;">
												<button type="button" class="btn btn-danger" style="width:80%"><i class="far fa-heart" style="color:white; margin-right:5px;"></i>Add to Favorites</button>
											</div>
											<div class="col-md-12">
												<button type="button" class="btn btn-primary" style="width:80%">Adopt Me</button>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8" id="scrollbar" style="margin-bottom:10px; max-height: 500px; overflow-y: auto;">
										<div class="row" style="margin-left:0;margin-right:0;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
											<div class="col-md-12 col-lg-6">
												<div style="display:table;width:100%;line-height: 30px; margin-top: 10px;">
													<div style="display:table-row;">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Pet ID
														</div>
														<div style="display:table-cell">
															001
														</div>
													</div>
													<div style="display:table-row;">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Name
														</div>
														<div style="display:table-cell">
															Name
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Age
														</div>
														<div style="display:table-cell">
															Age
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Size
														</div>
														<div style="display:table-cell">
															Small
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Coat length
														</div>
														<div style="display:table-cell">
															Medium
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12 col-lg-6">
												<div style="display:table; width:100%; line-height: 30px; margin-top: 10px;">
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Post date
														</div>
														<div style="display:table-cell">
															2018/2/21
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Gender
														</div>
														<div style="display:table-cell">
															Male
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Breed type
														</div>
														<div style="display:table-cell">
															Mixed
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Neutered
														</div>
														<div style="display:table-cell">
															Yes
														</div>
													</div>
													<div style="display:table-row">
														<div style="display:table-cell; font-weight:bold;width:50%">
															Provider
														</div>
														<div style="display:table-cell">
															yy0234
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;border-bottom: 1px solid lightgray;padding-bottom: 20px;">
											<div class="col-md-12" style="font-weight:bold;color:blue">
												Description
											</div>
											<div class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
												Hi there, I’m Arthur! I’m a soft big short-haired black and white buddy cat.  Tragically my person died in a car accident and I was left in an empty house being fed by the realtor for some months. I’m so happy to be safe here at the shelter but I really want a home of my own with people to love me again.
												
												I’m a little on the shy side and like to hide under blankets until I feel safe. If you approach me though I love petting and I really enjoy being held as well. I like the company of other friendly cats and may be a good buddy to a gentle cat looking for a partner.
												
												My estimated birthdate is 10/1/2015.
											</div>
										</div>
										<div class="row" style="margin-left:0;margin-right:0;margin-top: 20px;padding-bottom: 20px;">
											<div class="col-md-12" style="font-weight:bold;color:grey">
												Remark
											</div>
											<div class="col-md-12 modelpetDescription" style="line-height: 30px;white-space: pre-line;">
												None
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	<div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->

</body>
</html>