<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<title>You own title</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<section class="main-content">
	<div class="container-fluid">
	<!--Your own content-->
	</div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->


</body>
</html>