<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<title>You own title</title>
</head>

<body>
<% include ../partials/headline.ejs %>

<div class="container-fluid">
<!--Your own content-->
<div>


<% include ../partials/script.ejs %>

<!--Your own script-->

</body>
</html>