<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<!--Your own css file-->
	<title>You own title</title>
</head>

<body>

<section class="main-content">
	<div class="container-fluid">
	<!--Your own content-->
	<div>
</section>


<% include ../partials/script.ejs %>

<!--Your own script-->
<script>
    $(function(){
        $.ajax({
            url: "/run_scraper",
            type: "GET",
            data: {
            },
            success: function (mes) {
                console.log(mes);
            },
            error: function (err) {
                alert(err);
            }
        });
    });
</script>


</body>
</html>